#content {
    padding-top: 20px;
    padding-right: 340px;
    width: 560px;
    background: url(../images/developer.png) no-repeat center right;
    text-align: justify;
}

.container {
    width: 940px;
    margin-right: 0;
    position: relative;
}

#hint {
    width: 170px;
    padding: 8px;
    position: absolute;
    z-index: 100;
    margin-bottom: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    color: #31353E;
    border: 1px solid #AFBD8E;
    background-color: #fff;
    opacity: 0.9;
}

    #hint span {
        position: absolute;
        top: 9px;
        left: -6px;
        width: 6px;
        height: 11px;
        background: url(../images/arrowLeft2.png) no-repeat;
    }

    #hint p {
        margin: 0;
        text-align: center;
        font-size: 12px;
    }
    #hint p:first-child{
        margin-bottom: 5px;
    }
    #hint p em
    {
        font-weight: bold;
    }


#yw0 li {
    position: relative;
}

#content ol li {
    font-weight: bold;
}

    #content ol li p {
        font-weight: normal;
    }

#create.glow {
    border-color: #FFD700;
    color: #FFD700;
}