#content {
	width: 710px;
}

#continue {
    width: 194px;
}

#sortByAlternatives, #sortByCriteria {
    width: 702px;
    display: block;
    margin: 0 auto;
}

.alternative > p {
    background: #FFD700;
    text-align: center;
    margin: 0 auto;
    margin: 8px 5px 8px 0;
    width: 100px;
    -moz-border-radius:3px;
    display: block;
    float: right;
}

    .alternative > p span {
        font-weight: bold;
    }