div#dialog-form.form fieldset {
}

div.form .row.tit input {
    width:686px;
}

div.form .row.inp input {
}

    div.form .row.txt {
        width:315px;

    }
        div.form .row.txt textarea {
            width:315px;
        }

div.form .note {
    width:687px;
}

#alternative-overlay-form input,
#alternative-overlay-form textarea {
    width:685px !important;
}

#sortable li {
    width: 487px;
}

#evaluation div.alternative {
    margin-right: 10px; /* temp. until class="l" gets implemented*/
}

#highestScore dd {
    width: 100%;
    float: left;
}

#highestScore dd span {
    float: left;
}

#highestScore dd span:first-child {
    margin-right: 20px;
}