#content {
    padding-top: 20px;
    padding-right: 340px;
    padding-left: 10px;
    width: 550px;
    background: url(../images/index.jpg) no-repeat right 70px;
    text-align: justify;
}

    #content h1 {
        margin-bottom: 20px;
        position: relative;
        left: -10px;
    }

.container {
    width: 940px;
    margin-right: 0;
    position: relative;
}

#hint {
    width: 170px;
    padding: 8px;
    position: absolute;
    z-index: 100;
    margin-bottom: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    color: #31353E;
    border: 1px solid #AFBD8E;
    background-color: #fff;
    opacity: 0.9;
}

    #hint span {
        position: absolute;
        top: 9px;
        left: -6px;
        width: 6px;
        height: 11px;
        background: url(../images/arrowLeft2.png) no-repeat;
    }

    #hint p {
        margin: 0;
        text-align: center;
        font-size: 12px;
    }
    #hint p:first-child{
        margin-bottom: 5px;
    }
    #hint p em
    {
        font-weight: bold;
    }

#yw0 li {
    position: relative;
}

#content ol {
    float: left;
    margin: 0;
    padding-left: 30px;
    width: 520px;
}

#content ol li {
    font-weight: bold;
    float: left;
    width: 100%;
    margin-bottom: 10px;
}

    #content ol .bg {
        background: #DBE3F0;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
    }

    #content ol .basic {
        background: #fff;
    }

    #content ol li p {
        font-weight: normal;
        padding: 3px 6px;
        margin-bottom: 0;
        display: inline;
    }

#content ol + p {
    float: right;
}

#content #create {
    float: right;
    margin-top: 10px;
}

#create.glow {
    border-color: #FFD700;
    color: #FFD700;
}

#content dl dt {
    margin-bottom: 5px;
}

#content dl dd {
    margin-bottom: 10px;
}

#Flike {
    border-bottom: 1px solid #EEEEEE;
    height: 80px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}