#content {
    padding-top: 20px;
    padding-left: 340px;
    width: 560px;
}

.container {
    background: url(../images/index.jpg) no-repeat 5px 50px;
    width: 920px;
    margin-right: 0;
    position: relative;
}

#hint {
    width: 170px;
    padding: 5px;
    position: absolute;
    z-index: 100;
    margin-bottom: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    color: #31353E;
    background-color: #AFBD8E;
}

    #hint span {
        position: absolute;
        top: 8px;
        left: -5px;
        width: 6px;
        height: 11px;
        background: url(../images/arrowLeft2.png) no-repeat;
    }

    #hint p {
        font-weight: bold;
        margin: 0;
        text-align: center;
    }


#yw0 li {
    position: relative;
}

#create.glow {
    border-color: #FFD700;
    color: #FFD700;
}