body
{
    margin: 0;
    padding: 0;
    color: #555;
    font: normal 10pt Arial,Helvetica,sans-serif;
    background: #EFEFEF;
}
h1
{
    font-size: 24px;
    color: #596171;
    margin-bottom: 10px;
}
h2
{
    font-size: 18px;
    margin-bottom: 10px;
    color: #596171;
}
p
{
    margin: 0 0 10px 0;
}
#page
{
    margin-top: 5px;
    margin-bottom: 5px;
    background: white;
    -moz-border-radius-topleft: 15px;
    -moz-border-radius-topright: 15px;
}

#header
{
    margin: 0;
    padding: 0;
    font-size: 18px;
    background-color: #596171;
    color: #efefef;
    -moz-border-radius-topleft: 15px;
    -moz-border-radius-topright: 15px;
}
#content
{
    float: left;
    width: 700px;
    padding: 20px;
}

#sidebar
{
    padding: 20px 20px 20px 0;
}

#footer
{
    padding: 10px;
    margin: 10px 20px;
    font-size: 0.8em;
    text-align: center;
    border-top: 1px solid #596171;
}

#logo
{
    padding: 10px 20px;
}

#mainmenu
{
    background-color: #B3BCCC;
}

#mainmenu ul
{
    padding:6px 20px 5px 20px;
    margin:0px;
}

#mainmenu ul li
{
    display: inline;
}

#mainmenu ul li a
{
    color:#ffffff;
    background-color:transparent;
    font-size:12px;
    font-weight:bold;
    text-decoration:none;
    padding:5px 8px;
}
#mainmenu ul li a:hover, #mainmenu ul li.active a
{
    color: #596171;
    background-color:#fff;
    text-decoration:none;
}

div.flash-error, div.flash-notice, div.flash-success
{
    padding:.8em;
    margin-bottom:1em;
    border:2px solid #ddd;
}

div.flash-error
{
    background:#FBE3E4;
    color:#8a1f11;
    border-color:#FBC2C4;
}

div.flash-notice
{
    background:#FFF6BF;
    color:#514721;
    border-color:#FFD324;
}

div.flash-success
{
    background:#E6EFC2;
    color:#264409;
    border-color:#C6D880;
}

div.flash-error a
{
    color:#8a1f11;
}

div.flash-notice a
{
    color:#514721;
}

div.flash-success a
{
    color:#264409;
}

div.form .rememberMe label
{
    display: inline;
}

div.view
{
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
    font-size: 0.9em;
    padding: 5px 20px;
}

div.breadcrumbs span
{
    font-weight: bold;
}

div.search-form
{
    padding: 10px;
    margin: 10px 0;
    background: #eee;
}

.portlet
{
}

.portlet-decoration
{
    padding: 3px 8px;
    background: #B7D6E7;
    border-left: 5px solid #6FACCF;
}

.portlet-title
{
    font-size: 12px;
    font-weight: bold;
    padding: 0;
    margin: 0;
    color: #298dcd;
}

.portlet-content
{
    font-size:0.9em;
    margin: 0 0 15px 0;
    padding: 5px 8px;
    background:#EFFDFF;
}

.portlet-content ul
{
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    margin: 0;
    padding: 0;
}

.portlet-content li
{
    padding: 2px 0 4px 0px;
}
/* CRITERA */
#criteria
{
    margin-bottom: 10px;
}
/* SORTABLE */
#sortable
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
#sortable li, p.notice
{
    cursor: default;
    margin: 0 3px 3px 3px;
    height: 34px;
    position: relative;
    background-color: #DBE3F0;
    -moz-border-radius:5px;
}
#sortable li.movable
{
    cursor: move;
}
#sortable li span, p.notice
{
    font-size: 14px;
    padding-left: 10px;
    line-height: 34px;
}
#sortable li span
{
    float: left;
}
#sortable li a
{
    float: right;
    display: block;
    color: white;
    text-decoration: none;
    background-color: #596171;
    height: 100%;
    width: 60px;
    text-align: center;
    line-height: 34px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px;
    border-left: 1px solid #ffd700;
}
#sortable li a:last-child
{
    -moz-border-radius: 0px;
    border: 0;
}
#sortable li a:hover
{
    background-color: #fff;
    color: #596171;
}
#sortable .ui-sortable-helper
{
    color: #DBE3F0;
    background-color: #666;
}
/* PROJECT */
#project
{
    margin: 20px 0 0 20px;
    background-color: #596171;
    float: left;
    padding: 10px;
    width: 170px;
    -moz-border-radius: 10px;
}
#project span.title
{
    display: block;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    padding-bottom: 7px;
}
#project span:hover
{
    cursor: default;
}
#project div
{
    color: #fff;
    min-height: 141px;
    text-align: center;
    border: 1px solid #DBE3F0;
    -moz-border-radius:5px;
}
#project div h1
{
    margin: 20px 0 20px 0;
    color: #fff;
}
#project div p
{
    padding: 0 10px 0 10px;
    margin: 0;
}
#project div.dotted
{
    border: 1px dotted #DBE3F0;
}
#project a.title
{
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    display: block;
    color: #fff;
    padding: 5px;
    text-decoration: none;
    border-bottom: 1px dotted #fff;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
}
#project a.title:hover
{
    text-decoration: line-through;
}
#project ul
{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
#project ul li
{
    width: 168px;
}
#project ul li:last-child
{
    border: none;
}
#project ul li:last-child a, #project ul li:last-child span
{
    -moz-border-radius-bottomleft: 3px;
    -moz-border-radius-bottomright: 3px;
}
#project ul li:last-child a:hover
{
    -moz-border-radius-bottomleft: 3px;
    -moz-border-radius-bottomright: 3px;
}
#project ul li a, #project ul li span
{
    margin: 0;
    border: 0;
    text-align: left;
    display: block;
    background-color: #596171;
    color: white;
    text-decoration: none;
    padding: 5px;
    padding-left: 10px;
    width: 153px;
}
#project ul li span
{
    color: #596171;
    background-color: #ffd700;
}
#project ul li a:hover
{
    background-color: #DBE3F0;
    color: #596171;
}
/* EVALUATION PAGE */
#evaluation div.alternative
{
    width: 310px;
    float: left;
    margin: 0 20px 20px 0;
    padding: 5px 10px 0 10px;
    background-color: #596171;
    -moz-border-radius:7px;
}
#evaluation div.alternative:nth-child(even)
{
    margin-right: 0;
}
#evaluation h2
{
    color: #fff;
    width: 100%;
    text-align: center;
    font-size: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid #fff;
}
#evaluation ul
{
    padding: 0;
    width: 100%;
    list-style-type: none;
}
#evaluation ul li
{
    margin-bottom: 10px;
}
#evaluation ul li div.slider
{
    margin: 5px;
    padding: 5px 15px 10px 15px;
    background-color: #DBE3F0;
    -moz-border-radius:5px;
}
#evaluation ul li label
{
    padding-left: 5px;
    color: #fff;
    font-size: 12px;
    display: block;
    font-weight: bold;
}
#evaluation ul li p
{
    position: relative;
    margin-bottom: 5px;
}
#evaluation ul li span.right
{
    position: absolute;
    right: 0px;
}
#evaluation input
{
    float: left;
    clear: left;
}
/* RESULTS PAGE */
#legend ul
{
    margin: 0 0 20px 0;
    padding: 0;
    list-style-type: none;
}
#legend ul li
{
    background-color: #f5f9ff;
}
#legend ul li:nth-child(even)
{
    background-color: #f8fbff;
}
#legend ul li.favoured
{
    background-color: #e1ffed;
}
#legend ul li
{
    line-height: 25px;
    height: 25px;
    width: 700px;
    margin-bottom: 2px;
}
#legend ul li span
{
    float: left;
    display: block;
    height: 25px;
    width: 10px;
}
#legend ul li span.favoured
{
    color: #bbb;
    float: right;
    min-width: 100px;
    text-align: right;
    padding-right: 5px;
}
#chartdiv
{
    margin-bottom: 20px;
}
/* PROJECTS */
#content ul.projects
{
    list-style-type: none;
    margin: 20px 0 20px 0;
    padding: 0 20px 0 20px;
}
#content ul.projects li
{
    background-color: #B3BCCC;
    display: block;
    margin-bottom: 2px;
    min-height: 26px;
}
#content ul.projects li a, #content ul.projects li span
{
    display: block;
    padding: 5px;
}
#content ul.projects li span
{
    background-color: #ffd700;
}
#content ul.projects li a
{
    color: #fff;
    text-decoration: none;
    background-color: #596171;
}