body
{
    margin: 0;
    padding: 0;
    color: #5A6071;
    font: normal 10pt Arial,Helvetica,sans-serif;
    /*background: #EFEFEF;*/
    background: url(../images/ferlauf.png) repeat-x;
}
h1
{
    width: 100%;
    font-size: 24px;
    color: #31353E;
    margin-bottom: 10px;
}
h2
{
    font-size: 18px;
    margin-bottom: 10px;
    color: #31353E;
}
h3
{
    font-size: 16px;
    margin-bottom: 10px;
    color: #31353E;
}
hr
{
    margin: 20px 0 20px 0;
    background-color: #dbe3f0;
    height: 1px;
}
p
{
    margin: 0 0 10px 0;
}
#page
{
	width: 960px;
	margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
    background: white;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    float: none !important;
}

#header
{
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: monospace;
    text-shadow: #000 -2px 1px 5px;
    color: #efefef;
    cursor: default;
    background-color: #596171;
    -webkit-border-top-left-radius: 15px;
    -webkit-border-top-right-radius: 15px;
    -moz-border-radius-topleft: 15px;
    -moz-border-radius-topright: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
#logo
{
    padding: 10px 15px 20px 15px;
}
#content
{
    float: left;
    width: 490px;
    min-height: 300px;
}

#projectUrl {
    width: 920px;
    padding: 20px;
    float: left;
}

    #projectUrl h1 {
        float: left;
    }

    #projectUrl form {
        width: 100%;
        margin: 0 auto;
        float: left;
    }
    
        #projectUrl form input[type="text"] {
            width: 681px;
            padding: 0 10px;
            height: 32px;
            line-height: 32px;
            margin-right: 20px;
            float: left;
            position: relative;
        }

        #projectUrl form input[type="button"] {
            width: 194px;
            float: right;
        }

#sidebar
{
    width: 150px;
    padding: 20px 20px 20px 20px;
    float: right;
    border: 3px solid #AFBD8E;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    color: #32353E;
}

#footer
{
    padding: 10px;
    margin: 10px 20px;
    clear: both;
    font-size: 0.8em;
    text-align: center;
    border-top: 1px solid #596171;
}

#mainmenu
{
    background-color: #596171;
}

#mainmenu ul
{
    padding:6px 20px 5px 20px;
    margin:0px;
}

#mainmenu ul li
{
    display: inline;
    margin-right: 5px;
}
#mainmenu ul li:last-child
{
    float: right;
}

#mainmenu ul li a
{
    color:#fff;
    background-color: #505866;
    font-size:11px;
    font-weight:bold;
    text-decoration:none;
    padding:5px 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-topright: 8px;
    -webkit-border-radius-topleft: 8px;
    -webkit-border-radius-topright: 8px;
}
#mainmenu ul li a:hover, #mainmenu ul li.active a
{
    color: #596171;
    background-color:#fff;
    text-decoration:none;
}
#mainmenu ul li a:hover
{
}
#mainmenu ul li.active a:hover
{
    padding-bottom: 5px;
}

div.flash-error, div.flash-notice, div.flash-success
{
    padding:.8em;
    margin-bottom:1em;
    border:2px solid #ddd;
}

div.flash-error
{
    background:#FBE3E4;
    color:#8a1f11;
    border-color:#FBC2C4;
}

div.flash-notice
{
    background:#FFF6BF;
    color:#514721;
    border-color:#FFD324;
}

div.flash-success
{
    background:#E6EFC2;
    color:#264409;
    border-color:#C6D880;
}

div.flash-error a
{
    color:#8a1f11;
}

div.flash-notice a
{
    color:#514721;
}

div.flash-success a
{
    color:#264409;
}

div.form .rememberMe label
{
    display: inline;
}

div.view
{
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
    font-size: 0.9em;
    padding: 5px 20px;
}

div.breadcrumbs span
{
    font-weight: bold;
}

div.search-form
{
    padding: 10px;
    margin: 10px 0;
    background: #eee;
}

.portlet
{
}

.portlet-decoration
{
    padding: 3px 8px;
    background: #b7d6e7;
    border-left: 5px solid #6FACCF;
}

.portlet-title
{
    font-size: 12px;
    font-weight: bold;
    padding: 0;
    margin: 0;
    color: #298dcd;
}

.portlet-content
{
    font-size:0.9em;
    margin: 0 0 15px 0;
    padding: 5px 8px;
    background:#EFFDFF;
}

.portlet-content ul
{
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    margin: 0;
    padding: 0;
}

.portlet-content li
{
    padding: 2px 0 4px 0px;
}
/* CRITERA */
#criteria, #alternative
{
    margin-bottom: 10px;
}
/* SORTABLE */
#sortable
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
#soratble ul
{
    margin: 0;
    padding: 0;
}
#sortable li
{
    cursor: default;
    margin: 0 0 5px 0;
    height: 34px;
    position: relative;
    background-color: #dbe3f0;
    border-radius: 5px;
    -moz-border-radius:5px;
    -webkit-border-radius: 5px;
}
#sortable li.movable
{
    cursor: move;
}
#sortable li span
{
    font-size: 14px;
    padding-left: 10px;
    line-height: 34px;
}
#sortable li span
{
    float: left;
}
#sortable li a
{
    float: right;
    display: block;
    text-decoration: none;
    background-color: #E7EFFD;
    background-image:url("../images/ui-bg_glass_100_f6f6f6_1x400.png");
    width: 60px;
    height: 24px;
    padding: 0;
    line-height: 24px;
    text-align: center;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #97A3BD;
    color: #646C7D;
    font-weight: bold;
    margin-right: 10px;
    position: relative;
    top: 4px;
    
}
#sortable li a:hover
{
    background-color: #F6F6F6;
    color: #646C7D;
}
#sortable .ui-sortable-helper
{
}
/* PROJECT */
#project
{
    margin: 0 0 0 20px;
    background-color: #596171;
    float: left;
    clear: both;
    padding: 10px;
    width: 170px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
#project h1
{
    padding: 0;
    margin: 0 0 10px 0;
    border-bottom: 1px solid white;
    display: block;
    color: #fff;
    font-style: italic;
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 7px;
}
#project div
{
    color: #fff;
    min-height: 130px;
    text-align: center;
}
#project a.close
{
    float: right;
    right: 10px;
    top: 10px;
    font-size: 16px;
    width: 12px;
    height: 15px;
    background-color: #ffd700;
    padding-left: 3px;
    line-height: 13px;
    text-decoration: none;
    background: url('../images/sprite.png') no-repeat 0px 0px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
#project a.close:hover
{
    background-position: -16px 0px;
}
#project a.close:active
{
    background-position: -32px 0px;
}
#project ul
{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
#project ul li
{
    width: 168px;
}
#project ul li a, #project ul li span
{
    font-size: 13px;
    font-weight: normal;
    margin: 0 0 4px 0;
    border: 0;
    text-align: left;
    display: block;
    background-color: #464B57;
    color: #fff;
    text-decoration: none;
    padding: 5px;
    padding-left: 10px;
    width: 153px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
#project ul li span
{
    color: #32353E;
    background-color: #FFD700;
}
#project ul li a:hover
{
    background-color: #97A3BD;
    color: #31353E;
}
/* EVALUATION PAGE */
#evaluation
{
    margin-top: 15px;
    width: 700px;
    float: left;
}
#evaluation div.row
{
    float: left;
    width: 100%;
}
#evaluation div.alternative
{
    float: left;
    width: 320px;
    margin: 0 20px 20px 0;
    padding: 5px 10px 0 10px;
    background-color: #596171;
    border-radius: 7px;
    -moz-border-radius:7px;
    -webkit-border-radius: 7px;
}
#evaluation div.first
{
    clear: left;
}
#evaluation div.alternative:nth-child(even)
{
    margin-right: 0;
}
#evaluation h2
{
    color: #fff;
    width: 100%;
    font-size: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid #fff;
}
#evaluation ul
{
    padding: 0;
    width: 100%;
    list-style-type: none;
}
#evaluation ul li
{
    margin-bottom: 10px;
}
#evaluation ul li div.slider
{
    margin: 5px;
    padding: 5px 15px 10px 15px;
    background-color: #dbe3f0;
    border-radius: 5px;
    -moz-border-radius:5px;
    -webkit-border-radius: 5px;
}
#evaluation ul li div.slider div
{
    clear: left;
}
#evaluation ul li label
{
    padding-left: 5px;
    color: #fff;
    font-size: 12px;
    display: block;
    font-weight: bold;
}
#evaluation ul li p
{
    position: relative;
    margin-bottom: 5px;
}
#evaluation ul li span
{
    float: left;
    display: block;
    width: 140px;
    margin-bottom: 10px;
}
#evaluation ul li span:nth-child(even)
{
    text-align: right;
}
#evaluation input
{
    float: left;
    clear: left;
}
/* RESULTS PAGE */
#legend ul
{
    margin: 0 0 20px 0;
    padding: 0;
    list-style-type: none;
}
#legend ul li
{
    background-color: #f5f9ff;
}
#legend ul li:nth-child(even)
{
    background-color: #f8fbff;
}
#legend ul li.favoured
{
    background-color: #e1ffed;
}
#legend ul li
{
    position: relative;
    line-height: 25px;
    height: 25px;
    width: 700px;
    margin-bottom: 2px;
}
#legend ul li span
{
    float: left;
    display: block;
    height: 25px;
    width: 10px;
}
#legend ul li span.score
{
    position: absolute;
    right: 10px;
    display: block;
    color: #bbb;
    text-align: right;
    width: 100px;
}
#legend ul li input
{
    float: left;
    margin-top: 6px;
}
#legend ul li label
{
    display: block;
    float: left;
    width: 660px;
    cursor: pointer;
}
#chartdiv
{
    margin: 40px 0 20px 0;
}
/* PROJECTS */
#content ul.projects
{
    margin: 20px 0 20px 0;
    padding: 0 20px 0 20px;
    list-style: none;
}
#content ul.projects p
{
    cursor: pointer;
    font-size: 11px;
    padding: 10px 0 0 5px;
}
#content ul.projects li
{
    cursor: pointer;
    border-right: 2px solid;
    border-left: 2px solid;
    border-bottom: 2px solid;
    border-color: #596171;
    background-color: #dbe3f0;
    margin-bottom: 5px;
    min-height: 26px;
}
#content ul.projects li.active
{
    border-color: #ffd700;
}
#content ul.projects li a, #content ul.projects li span
{
    display: block;
    padding: 5px;
}
#content ul.projects li span
{
    background-color: #ffd700;
}
#content ul.projects li a
{
    color: #fff;
    text-decoration: none;
    background-color: #596171;
}
#content ul.projects ul
{
    cursor: pointer;
    list-style-type: lower-alpha;
    padding: 5px 0 5px 30px;
}
#content ul.projects ul li
{
    cursor: pointer;
    margin: 0;
    font-size: 11px;
    min-height: 5px;
    border: none;
}
#content ul.projects ul li span
{
    display: inline;
    padding: 0;
    margin: 0;
}
/* Right button */
.right
{
    float: right;
}
.hidden
{
    display: none;
}
.overlay-heading
{
    font-size: 20px;
    color: #596171;
}
a.margins
{
    margin: 0 10px 10px 0;
}
input.disabled
{
    color: #a56f6f;
    cursor: default;
}
#graphtooltip
{
    display: none;
    position: absolute;
    padding: 0;
    margin: 0;
    opacity:0.6;
}
#graphtooltip span
{
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    padding: 5px;
    color: #da0000;
}
#graphtooltip span.best
{
    text-align: right;
    color: #008713;
}
.white-background
{
    background-color: #fff;
}
#options
{
    float: right;
    background-color: #dbe3f0;
    padding-right: 10px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
#options:hover
{
    background-color: #ffd700;
}
#options label
{
    float: left;
    display: block;
    height: 32px;
    line-height: 32px;
    padding: 0 10px 0 10px;
    cursor: pointer;
}
#options input
{
    margin-top: 10px;
}
#weights
{
    position:absolute;
    background:#fff;
    padding: 5px;
    color:#333;
    z-index: 1;
    display:none;
    opacity: 0.6;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}


.overlay_bg
{
    background: #000 none repeat scroll 0 0;
    display: none;
    height: 100%;
    left: 0;
    filter: alpha(opacity=10);
    opacity: 0.2;
    top: 0;
    width: 100%;
    z-index: 2000;
    display: none;
    position: fixed;
}
.loadingImage
{
    position: absolute;
    left: 45%;
    top: 45%;
    display: none;
    z-index: 2001;
}