body
{
    margin: 0;
    padding: 0;
    color: #5A6071;
    font: normal 10pt Arial,Helvetica,sans-serif;
    /*background: #EFEFEF;*/
    background: #f1f1f1 url(../images/ferlauf.png) repeat-x;
}
h1
{
    width: 100%;
    font-size: 24px;
    color: #31353E;
    margin-bottom: 10px;
}
h2
{
    font-size: 18px;
    margin-bottom: 10px;
    color: #31353E;
}
h3
{
    font-size: 16px;
    margin-bottom: 10px;
    color: #31353E;
}
hr
{
    margin: 20px 0 20px 0;
    background-color: #dbe3f0;
    height: 1px;
}
p
{
    margin: 0 0 10px 0;
}
#page
{
    width: 960px;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
    background: white;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    float: none !important;
}

#header
{
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: #efefef;
    cursor: default;
    background-color: #596171;
    -webkit-border-top-left-radius: 15px;
    -webkit-border-top-right-radius: 15px;
    -moz-border-radius-topleft: 15px;
    -moz-border-radius-topright: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background: #596171 url(../images/logo.png) no-repeat 0 10px;
    padding-top: 80px;
    position: relative;
}
#logo
{
    padding: 10px 15px 20px 15px;
    text-indent: -9999px;
    display: none;
}
#content
{
    float: left;
    width: 490px;
    min-height: 300px;
}

#projectUrl {
    width: 920px;
    padding: 20px;
    float: left;
}

    #projectUrl h1 {
        float: left;
    }

    #projectUrl form {
        width: 100%;
        margin: 0 auto;
        float: left;
        position: relative;
    }

        #projectUrl form .span {
            display: block;
            position: absolute;
            top: 11px;
            left: 630px;
            font-size: 10px;
        }

        #projectUrl form input[type="text"] {
            width: 679px;
            padding: 0 10px;
            height: 32px;
            line-height: 32px;
            margin-right: 19px;
            float: left;
            position: relative;
            cursor: copy;
        }

        #projectUrl form #addToBookMarks {
            width: 194px;
            float: right;
            margin: 0;
        }

#sidebar {
    width: 154px;
    padding: 20px 20px 20px 20px;
    margin-bottom: 20px;
    float: right;
    border: 1px solid #AFBD8E;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    color: #32353E;
    background: url(../images/sidebar.png) no-repeat center center;
    position: relative;
}

    #sidebar > span {
        position: absolute;
        top: 54px;;
        left: -8px;
        height: 15px;
        width: 8px;
        background: url(../images/arrowLeft.png) no-repeat;
        text-indent: -9999px;
        display: block;
    }

        #sidebar > span.up {
            background: url(../images/arrowUp.png) no-repeat;
            width: 15px;
            height: 8px;
            top: -8px;
            left:500px;
        }

    #sidebar em {
        padding-bottom: 10px;
        border-bottom: 1px solid #AFBD8E;
        display: block;
    }

    #sidebar ul {
        width: 100%;
        padding: 0 0 0 5px;
        margin: 0;
        color: #ebeee3;
        float: left;
    }

        #sidebar ul li {
            margin-bottom: 10px;
            float: left;
            width: 100%;
        }

        #sidebar ul li:last-child {
            margin-bottom: 0;
        }

        #sidebar ul em, #sidebar ul p {
            color: #32353E;
            font-size: 12px;
            margin-bottom: 0;
            width: 100%;
        }

            #sidebar ul p i {
                float: left;
                margin-right: 10px;
            }

            #sidebar ul p span {
                font-weight: bold;
                -moz-border-radius: 8px;
                -webkit-border-radius: 8px;
                background: #ebeee3;
                width: 16px;
                height: 16px;
                display: block;
                float: left;
                text-align: center;
            }

        #sidebar ul em {
            font-size: 14px;
            border: none;
            padding: 0;
        }

#footer
{
    width: 920px;
    padding: 2px 0 10px 0;
    margin: 10px 20px 10px 20px;
    clear: both;
    float: left;
    font-size: 0.8em;
    text-align: center;
    border-top: 3px solid #efefef;
}

    #footer hr {
        width: 100%;
        padding-top: 2px;
        margin: 0;
        margin-bottom: 10px;
        border-top: 2px solid #f1f1f1;
        border-bottom: 1px solid #f5f5f5;
        background: none;
    }

#mainmenu
{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

#mainmenu ul
{
    padding:6px 20px 5px 20px;
    margin:0px;
}

#mainmenu ul li
{
    margin-right: 10px;
    display: block;
    float: left;
}

    #mainmenu ul li:last-child {
        float: right;
        margin-right: 0;
    }

    #mainmenu ul li:first-child {
        float: left;
    }

#mainmenu ul li a
{
    color:#fff;
    background-color: #505866;
    font-size:11px;
    font-weight:bold;
    text-decoration:none;
    padding:5px 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-topright: 8px;
    -webkit-border-radius-topleft: 8px;
    -webkit-border-radius-topright: 8px;
    position: relative;
    display: block;
    float: left;
}
#mainmenu ul li a:hover, #mainmenu ul li.active a
{
    color: #596171;
    background-color:#fff;
    text-decoration:none;
}
#mainmenu ul li a:hover
{
}
#mainmenu ul li.active a:hover
{
    padding-bottom: 5px;
}

div.flash-error, div.flash-notice, div.flash-success
{
    padding:.8em;
    margin-bottom:1em;
    border:2px solid #ddd;
}

div.flash-error
{
    background:#FBE3E4;
    color:#8a1f11;
    border-color:#FBC2C4;
}

div.flash-notice
{
    background:#FFF6BF;
    color:#514721;
    border-color:#FFD324;
}

div.flash-success
{
    background:#E6EFC2;
    color:#264409;
    border-color:#C6D880;
}

div.flash-error a
{
    color:#8a1f11;
}

div.flash-notice a
{
    color:#514721;
}

div.flash-success a
{
    color:#264409;
}

div.form .rememberMe label
{
    display: inline;
}

div.view
{
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
    font-size: 0.9em;
    padding: 5px 20px;
}

div.breadcrumbs span
{
    font-weight: bold;
}

div.search-form
{
    padding: 10px;
    margin: 10px 0;
    background: #eee;
}

.portlet
{
}

.portlet-decoration
{
    padding: 3px 8px;
    background: #b7d6e7;
    border-left: 5px solid #6FACCF;
}

.portlet-title
{
    font-size: 12px;
    font-weight: bold;
    padding: 0;
    margin: 0;
    color: #298dcd;
}

.portlet-content
{
    font-size:0.9em;
    margin: 0 0 15px 0;
    padding: 5px 8px;
    background:#EFFDFF;
}

.portlet-content ul
{
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    margin: 0;
    padding: 0;
}

.portlet-content li
{
    padding: 2px 0 4px 0px;
}
/* CRITERA */
#criteria, #alternative
{
    padding-bottom: 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
}

/* SORTABLE */
#sortable
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
#soratble ul
{
    margin: 0;
    padding: 0;
}
#sortable li
{
    cursor: default;
    margin: 0 0 5px 0;
    min-height: 34px;
    position: relative;
    background-color: #dbe3f0;
    border-radius: 5px;
    -moz-border-radius:5px;
    -webkit-border-radius: 5px;
    float: left;
    width: 100%;
}
#sortable li.movable {
    border: 2px solid #fff;
    cursor: move;
}

    #sortable li:hover {
        border: 2px solid #97A3BD;
    }

#sortable li.placeholder {
    border: 2px dashed #eee;
    background: #fff;
}

#sortable li span
{
    font-size: 14px;
    padding-left: 10px;
    line-height: 34px;
}
#sortable li span
{
    float: left;
    max-width: 320px;
}
#sortable li a
{
    float: right;
    display: block;
    text-decoration: none;
    background-color: #E7EFFD;
    background-image:url("../images/ui-bg_glass_100_f6f6f6_1x400.png");
    width: 60px;
    height: 24px;
    padding: 0;
    line-height: 24px;
    text-align: center;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #97A3BD;
    color: #646C7D;
    margin-right: 10px;
    position: relative;
    top: 4px;

}
#sortable li a:hover
{
    background-color: #F6F6F6;
    color: #646C7D;
}

#alternative #sortable li {
    border: none;
    background: #fff;
    margin-bottom: 11px;
    border: 1px solid #DBE3F0;
}

/* PROJECT */
#project
{
    margin: 0 0 0 20px;
    background-color: #596171;
    float: left;
    clear: both;
    padding: 10px;
    width: 170px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
#project h1
{
    padding: 0;
    margin: 0 0 10px 0;
    border-bottom: 1px solid white;
    display: block;
    color: #fff;
    font-style: italic;
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 7px;
}
#project > div
{
    color: #fff;
    min-height: 130px;
    text-align: center;
}
#project a.close
{
    float: right;
    right: 10px;
    top: 10px;
    font-size: 16px;
    width: 12px;
    height: 15px;
    background-color: #ffd700;
    padding-left: 3px;
    line-height: 13px;
    text-decoration: none;
    background: url('../images/sprite.png') no-repeat 0px 0px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
#project a.close:hover
{
    background-position: -16px 0px;
}
#project a.close:active
{
    background-position: -32px 0px;
}
#project ul
{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
#project ul li
{
    width: 168px;
    position: relative;
}
#project ul li a, #project ul li span
{
    font-size: 13px;
    font-weight: normal;
    margin: 0 0 4px 0;
    border: 0;
    text-align: left;
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 5px;
    padding-left: 10px;
    width: 153px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#project ul li span.restricted {
    color: #7a818d;
    cursor: help;
}

#project ul li span.selected
{
    cursor: default;
    color: #32353E;
    background-color: #FFD700;
}
#project ul li a:hover
{
    background-color: #DBE3F0;
    color: #31353E;
}

#project #hint {
    width: 170px;
    padding: 5px;
    position: absolute;
    z-index: 100;
    margin-bottom: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    color: #31353E;
    opacity: 0.9;
    background-color: #fff;
    border: 1px solid #AFBD8E;
}

    #project #hint span {
        position: absolute;
        top: 9px;
        left: -7px;
        width: 7px;
        height: 13px;
        background: url(../images/arrowLeft2.png) no-repeat;
    }

    #project #hint p {
        margin: 0;
        text-align: center;
    }
    #project #hint p:first-child{
        margin-bottom: 5px;
    }
    #project #hint p em
    {
        font-weight: bold;
    }

/* EVALUATION PAGE */
#evaluation
{
    margin-top: 15px;
    width: 100%;
    float: left;
}
#evaluation div.row
{
    float: left;
    width: 100%;
}
#evaluation div.alternative
{
    float: left;
    width: 322px;
    margin: 0 20px 20px 0;
    padding: 0 10px 0 10px;
    border: 1px solid #596171;
    background-color: #fafafa;
    border-radius: 7px;
    -moz-border-radius:7px;
    -webkit-border-radius: 7px;
    position: relative;
}
#evaluation div.first
{
    clear: left;
}
#evaluation div.alternative:nth-child(even)
{
    margin-right: 0;
}
#evaluation h2 {
    color: #fff;
    width: 200px;
    font-size: 20px;
    padding: 5px 130px 5px 13px;
    border-bottom: 1px solid #596171;
    background: #596171;
    border-radius-topleft: 7px;
    border-radius-topright: 7px;
    -moz-border-radius-topleft: 7px;
    -moz-border-radius-topright: 7px;
    -webkit-border-top-left-radius: 7px;
    -webkit-border-top-right-radius: 7px;
    position: relative;
    left: -10px;
    top:-2px;
}
#evaluation ul
{
    padding: 0;
    width: 100%;
    list-style-type: none;
}
#evaluation ul li
{
    margin-bottom: 10px;
}
#evaluation ul li div.slider
{
    margin: 5px;
    padding: 5px 15px 10px 15px;
    background-color: #dbe3f0;
    border-radius: 5px;
    -moz-border-radius:5px;
    -webkit-border-radius: 5px;
}

    #evaluation ul li div.slider.new {
        background-color: #eee;
    }


#evaluation ul li div.slider div
{
    clear: left;
}
#evaluation ul li label
{
    padding-left: 5px;
    color: #596171;
    font-size: 12px;
    display: block;
    font-weight: bold;
}
#evaluation ul li p
{
    position: relative;
    margin-bottom: 5px;
}
#evaluation ul li span
{
    float: left;
    display: block;
    width: 140px;
    margin-bottom: 10px;
}
#evaluation ul li span:nth-child(even)
{
    text-align: right;
}
#evaluation input
{
    float: left;
    clear: left;
}
/* RESULTS PAGE */
#legend ul
{
    margin: 0 0 20px 0;
    padding: 0;
    list-style-type: none;
}
#legend ul li
{
    background-color: #f5f9ff;
}
#legend ul li:nth-child(even)
{
    background-color: #f8fbff;
}
#legend ul li.favoured
{
    background-color: #e1ffed;
}
#legend ul li
{
    position: relative;
    line-height: 25px;
    height: 25px;
    width: 100%;
    margin-bottom: 2px;
}
#legend ul li span
{
    float: left;
    display: block;
    height: 25px;
    width: 10px;
}
#legend ul li span.score
{
    position: absolute;
    right: 10px;
    display: block;
    color: #bbb;
    text-align: right;
    width: 100px;
}
#legend ul li input
{
    float: left;
    margin-top: 6px;
}
#legend ul li label
{
    display: block;
    float: left;
    width: 660px;
    cursor: pointer;
}
#chartdiv
{
    margin: 40px 0 20px 0;
}
/* PROJECTS */
#content ul.projects
{
    margin: 20px 0 20px 0;
    padding: 0 20px 0 20px;
    list-style: none;
}
#content ul.projects p
{
    cursor: pointer;
    font-size: 11px;
    padding: 10px 0 0 5px;
}
#content ul.projects li
{
    cursor: pointer;
    border-right: 2px solid;
    border-left: 2px solid;
    border-bottom: 2px solid;
    border-color: #596171;
    background-color: #dbe3f0;
    margin-bottom: 5px;
    min-height: 26px;
}
#content ul.projects li.active
{
    border-color: #ffd700;
}
#content ul.projects li a, #content ul.projects li span
{
    display: block;
    padding: 5px;
}
#content ul.projects li span
{
    background-color: #ffd700;
}
#content ul.projects li a
{
    color: #fff;
    text-decoration: none;
    background-color: #596171;
}
#content ul.projects ul
{
    cursor: pointer;
    list-style-type: lower-alpha;
    padding: 5px 0 5px 30px;
}
#content ul.projects ul li
{
    cursor: pointer;
    margin: 0;
    font-size: 11px;
    min-height: 5px;
    border: none;
}
#content ul.projects ul li span
{
    display: inline;
    padding: 0;
    margin: 0;
}
/* Right button */
.right
{
    float: right;
}
.hidden
{
    display: none;
}
.overlay-heading
{
    font-size: 20px;
    color: #596171;
}
a.margins
{
    margin: 0 10px 10px 0;
}
input.disabled
{
    color: #a56f6f;
    cursor: default;
}
#graphtooltip
{
    display: none;
    position: absolute;
    padding: 0;
    margin: 0;
    opacity:0.6;
}
#graphtooltip span
{
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    padding: 5px;
    color: #da0000;
}
#graphtooltip span.best
{
    text-align: right;
    color: #008713;
}
.white-background
{
    background-color: #fff;
}
#options
{
    float: right;
    background-color: #dbe3f0;
    padding-right: 10px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    width: 186px;
}
#options:hover
{
    background-color: #ffd700;
}
#options label
{
    float: left;
    display: block;
    height: 32px;
    line-height: 32px;
    padding: 0 10px 0 35px;
    cursor: pointer;
}
#options input
{
    margin-top: 10px;
}
#weights
{
    position:absolute;
    background:#fff;
    padding: 5px;
    color:#333;
    z-index: 1;
    display:none;
    opacity: 0.6;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}


.overlay_bg
{
    background: #000 none repeat scroll 0 0;
    display: none;
    height: 100%;
    left: 0;
    filter: alpha(opacity=10);
    opacity: 0.2;
    top: 0;
    width: 100%;
    z-index: 2000;
    display: none;
    position: fixed;
}
.loadingImage
{
    position: absolute;
    left: 45%;
    top: 45%;
    display: none;
    z-index: 2001;
}