.container {
    position: relative;
}

#content {
    position: relative;
    min-height: 0;
}

#content #create {
    margin-bottom: 20px;
    margin-right: 20px;
    float: left;
}

        #highestScore {
            width: 470px;
            padding: 10px;
            float: right;
            border: 1px solid #DBE3F0;
            -moz-border-radius:7px;
        }

            #highestScore dt {
                margin-bottom: 10px;
                padding-bottom: 6px;
                border-bottom: 1px solid #DBE3F0;
            }

            #highestScore dd {
                width: 100%;
                margin: 0 auto;
                display: block;
                text-align: center;
            }

                #highestScore dd span {
                    padding: 3px 10px;
                    float: left;
                    background: #DBE3F0;
                    -moz-border-radius:5px;
                    color: #32353E;
                    font-weight: bold;
                }
                #highestScore dd span:last-child
                {
                    float: right;
                }


        #showProjectDescription {
            width: 470px;
            padding: 10px;
            margin-right: 20px;
            clear: both;
            border: 1px solid #DBE3F0;
            -moz-border-radius:7px;
        }

            #showProjectDescription dt {
                width: 100%;
                padding-bottom: 10px;
                margin-bottom: 10px;
                border-bottom: 1px solid #DBE3F0;
            }

.container > h2 {
    width: 700px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    float: left;
    clear: both;
    border-bottom: 1px solid #DBE3F0;
    position: relative;
    left: -210px;
}

.container > table {
    width: 702px;
    margin-bottom: 20px;
    float: left;
    clear: both;
    position: relative;
    left: -210px;
}

    .container > table th {
        background-color: #DBE3F0;
        text-align: center;
    }

    .container > table tr {
        background-color: #F5F9FF;
    }

    .container > table tr:nth-child(even) {
        background-color: #F8FBFF;
    }

    .container > table tr:hover {
        background-color: #FFD700;
    }

    .container > table td {
        text-align: center;
    }

    .container > table td:first-child,
    .container > table .f {
        text-align: left;
    }

    .container > table td.c {
        text-align: center;
    }

#sidebar {
    margin-bottom: 0;
    position: absolute;
    top: 0;
    right: 0;
}
#export
{
    float: right;
    margin-right: 0;
}