/*
 --> Layout css
 --> @author:     Frenk T. Sedmak Nahtigal
 --> @version:    3.0
*/

html {
    height: 100%;
    overflow-y: scroll;
}

body {
    height: 100%;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    background: #fff;
    color: #5e5e5e;
}

a {
    text-decoration: none;
    color: #000 !important;
}
a:hover {
    text-decoration: underline;
}

h1,
h2,
nav a {
    font-family: Times, Helvetica, sans-serif;
    font-style: italic;
    color: #444a56;
}

/* GLOBAL CONTAINERS
********************************************************/
#wrapper {
    min-height: 100%;
}

#main {
    overflow: auto;
    padding-bottom: 83px; /*must the the same as footer height*/
    margin-bottom: 20px;
}

section.content,
header.content section,
body > footer nav {
    width: 920px;
    padding: 0 20px;
    margin: 0 auto;
}

/*Opera Sticky Footer Fix*/
body:before {
    content:"";
    height:100%;
    float:left;
    width:0;
    margin-top:-32767px;
}

/* HEADER
********************************************************/
header.content {
    width: 100%;
    height: 79px; /*180px*/
    padding-bottom: 101px;
    margin-bottom: 40px;
    position: relative;
    background: url(../../images/bg/banner.png) bottom left repeat-x;
    box-shadow: 0px 1px 6px #d4d4d4;
}

header.content #banner {
        width: 100%;
        height: 101px;
        position: absolute;
        bottom: -8px;
        left: 0;
    }
        header.content #banner div {
            width: 870px;
            height: 100%;
            margin: 0 auto;
            background: url(../../images/banner_img.png) 0 0 no-repeat;
            overflow: auto;
        }

header.content nav {
    padding-top: 40px;
    font-size: 24px;
}
    header.content nav > a {
        float: left;
    }
    header.content nav > ul {
        float: right;
    }

/* CONTENT
********************************************************/
section.content {
    /*overflow: auto; /*sticky footer*/
}


/* FOOTER
********************************************************/
body > footer {
    width: 100%;
    height: 82px;
    position: relative;
    margin-top: -83px; /*must be the negative value of height*/
    clear: both;
    background: #fafafa;
    border-top: 1px solid #fff;
    box-shadow: 0px -1px 0px #e2e2e2;
}
    body > footer nav ul {
        padding-top: 26px;
        font-size: 22px;
        text-align: center;
    }
        body > footer nav ul li {
            display: inline;
        }


/* DEBUG MODE
********************************************************/
.debug {
    width: 100%;
    padding: 4px 0;
    margin-top: 16px;
    text-align: center;
    background: #FFD700;
    opacity: 0.5;
    font-size: 16px;
    font-weight: bold;
}
