/*
 --> Layout css
 --> @author:     Frenk T. Sedmak Nahtigal
 --> @version:    1.2
*/

body {
    color: #5A6071;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    background: #f1f1f1 url(../../images/bg/ferlauf.png) repeat-x;
}

a {
    text-decoration: underline;
    color: #000;
}
a:hover {
    text-decoration: none;
}

/* CONTAINERS
********************************************************/
#wrapper {
    width: 960px;
    margin: 5px auto;
    background: #fff;
    float: none !important;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border: 1px solid #596171;
}

    #main {
        width: 920px;
        padding: 16px 20px 16px 20px;
        float: left;
        position: relative;
        top: -1px; /*header hack*/
    }

        #content {
            width: 706px;
            float: left;
        }

        #sidebar {
            width: 194px;
            float: right;
        }

/* Header
********************************************************/
#header {
    width: 962px;
    height: 80px;
    position: relative;
    top: -1px;
    left: -1px;
    float: left;
    background: #596171;
    -webkit-border-top-left-radius: 15px;
    -webkit-border-top-right-radius: 15px;
    -moz-border-radius-topleft: 15px;
    -moz-border-radius-topright: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

    #header h1 {
        width: 635px;
        height: 44px;
        float: left;
    }

        #header h1 a {
            width: 100%;
            height: 40px;
            padding-top: 4px;
            display: block;
            text-indent: -9999px;
            background: url(../../images/logo.png) no-repeat 0 10px;
        }

    #header #like {
        width: 600px;
        height: 28px;
        margin: 0 auto;
        position: absolute;
        bottom: 4px;
        left: 20px;
    }

    #header #login {
        width: 305px;
        padding: 8px 20px 0 0;
        height: 64px;
        float: left;
        color: #fff;
    }

        #header #login a {
            color: #fff;
        }

        #header #login #login_image {
            margin: 0 8px 8px 0;
            float: left;
            padding: 4px;
            background: #DBE3F0;
            border-radius: 4px;
            -moz-border-radius: 4px;
            -webkit-border-radius: 4px;
        }

            #header #login #login_image img {
                width: 50px;
                height: 50px;
                display: block;
            }

        #header #login > h2 {
            margin-bottom: 24px;
            font-size: 16px;
            font-weight: bold;
        }

        #header #login > ul {
            width: 239px;
            float: left;
        }

        #header #login > ul li {
            padding-right: 4px;
            margin-right: 4px;
            float: left;
            border-right: 1px solid #fff;
        }

        #header #login > ul li:last-child {
            border: none;
        }

/* Content
********************************************************/
#content h1 {
    font-size: 24px;
    margin-bottom: 16px;
}

#content h2 {
    font-size: 18px;
    margin-bottom: 16px;
}

#content p {
    line-height: 16px;
}

/* Footer
********************************************************/
#footer {
    width: 100%;
    padding: 8px 0;
    clear: both;
    position: relative;
    text-align: center;
    background: #eee;
    border-top: 1px solid #596171;
    border-radius: 0 0 15px 15px;
    -webkit-border-radius: 0 0 15px 15px;
    -moz-border-radius: 0 0 15px 15px;
}

    #footer ul {
        height: 21px;
        margin: 0 auto;
        padding: 0;
        list-style: none;
        position: relative;
    }

        #footer ul li {
            min-height: 21px;
            height: 21px;
            line-height: 21px;
            padding: 0 6px 0 0;
            margin-right : 4px;
            display: inline;
            border-right: 1px solid #596171;
        }

        #footer ul li:last-child {
            width: 450px;
            border: none;
            position: relative;
        }
