/*
 --> Layout css
 --> @author:     Frenk T. Sedmak Nahtigal
 --> @version:    1.2
*/

html {
    overflow-y: scroll;
}

body {
    color: #5A6071;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    background: #f1f1f1 url(../../images/bg/ferlauf.png) repeat-x;
}

a {
    text-decoration: underline;
    color: #000;
}
a:hover {
    text-decoration: none;
}

/* CONTAINERS
********************************************************/
#wrapper {
    width: 960px;
    margin: 5px auto;
    background: #fff;
    float: none !important;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border: 1px solid #596171;
}

    #main {
        width: 920px;
        padding: 16px 20px 16px 20px;
        float: left;
        position: relative;
    }

        #content {
            width: 686px;
            float: left;
        }

        #sidebar {
            width: 214px;
            float: right;
        }

/* Header
********************************************************/
#header {
    width: 962px;
    height: 79px;
    position: relative;
    left: -1px;
    float: left;
    background: url(../../images/bg/header.png) 1px 0 no-repeat;
}

    #header #headings {
        padding: 12px 0 0 20px;
        float: left;
    }

        #header h1 {
            width: 387px;
            height: 30px;
            margin-bottom: 4px;
            float: left;
        }

            #header h1 a {
                width: 100%;
                height: 100%;
                display: block;
                text-indent: -9999px;
                background: url(../../images/logo.png) no-repeat;
            }

        #header h2 {
            float: left;
            clear: left;
            font-size: 18px;
            font-style: italic;
            color: #fff;
        }

            #header h2 a {
                color: #fff;
            }

    #header #login {
        padding: 12px 20px 0 0;
        height: 64px;
        float: right;
        color: #fff;
    }

        #header #login a {
            color: #fff;
        }

        #header #login > p {
            padding-top: 12px;
            margin-bottom: 8px;
        }

        #header #login #facebookLogin {
            float: right;
        }

        #header #login #login_image {
            margin: 0 0 8px 16px;
            float: right;
            padding: 1px 7px 8px 1px;
            background: url(../../images/bg/user_img.png);
            border-radius: 4px;
            -moz-border-radius: 4px;
            -webkit-border-radius: 4px;
        }

            #header #login #login_image img {
                width: 50px;
                height: 50px;
                display: block;
            }

        #header #login div {
            padding-top: 4px;
            float: right;
        }

            #header #login div h2 {
                margin-bottom: 16px;
                float: right;
                clear: both;
                font-size: 16px;
                font-weight: bold;
            }

            #header #login > div ul {
                float: right;
                clear: both;
            }

                #header #login > div ul li {
                    padding-right: 6px;
                    margin-right: 6px;
                    line-height: 13px;
                    float: left;
                    border-right: 1px solid #fff;
                }

                #header #login > div ul li:last-child {
                    padding-right: 0;
                    margin-right: 0;
                    border-right: none;
                }

/* Content
********************************************************/
#content h1 {
    font-size: 24px;
    margin-bottom: 16px;
}

#content h2 {
    font-size: 18px;
    margin-bottom: 16px;
}

#content p {
    line-height: 16px;
}

/* Ajax Block
********************************************************/
.block {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../../images/bg/overlay.png) repeat;
    border: none !important;
    z-index: 100;
}

.block.rounded {
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}

    .block img {
        position: absolute;
    }

/* Overlay
********************************************************/
#overlay_bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: url(../../images/bg/overlay_bg.png) repeat;
    z-index: 1000;
}

    #overlay {
        width: 489px;
        padding: 16px 18px 8px 18px;
        position: absolute;
        background: url(../../images/bg/overlay_top.png) no-repeat;
        z-index: 1001;
    }

    #overlayBottom {
        width: 525px;
        height: 8px;
        position: absolute;
        bottom: -8px;
        left: 0;
        background: url(../../images/bg/overlay_bottom.png) no-repeat;;
    }

        #overlay h2 {
            width: 100%;
            margin-bottom: 16px;
            float: left;
            font-size: 24px;
            font-weight: bold;
            color: #fff;
        }

        #overlay p {
            padding: 0 10px 0 30px;
            line-height: 16px;
            margin-bottom: 16px;
            float: left;
            font-size: 11px;
            font-style: italic;
            color: #fff;
            background: url(../../images/sprite_icons.png) 10px -400px no-repeat;
        }

        #overlay form,
        #overlay form fieldset {
            width: 100%;
            float: left;
            position: relative;
        }


                #overlay form fieldset p i {
                    font-style: italic;
                    font-weight: bold;
                }

                #overlay input[type="text"] {
                    width: 472px; /*492px*/
                    height: 23px; /*29px*/
                    padding: 0 10px 6px 10px;
                    margin-bottom: 2px;
                    font-size: 18px;
                    color: #444a56;
                    background: url(../../images/form/overlay_input.png) no-repeat;
                    border: none;
                }

                #overlay input[type="submit"] {
                    width: 103px;
                    height: 34px;
                    padding: 0;
                    float: right;
                    text-indent: -9999px;
                    background: url(../../images/form/sprite_buttons.png) -300px 0 no-repeat;
                    border: none;
                }

                #overlay input[type="submit"]:hover { cursor: pointer; background-position: -450px 0;}
                #overlay input[type="submit"]:active { cursor: pointer; background-position: -600px 0;}


                #overlay form span {
                    width: 100%;
                    float: left;
                    display: block;
                    font-size: 11px;
                    color: #717c90;
                }

            #overlay form div.error {
                height: 39px;
                line-height: 24px;
                padding: 0 0 0 21px;
                position: absolute;
                top: -26px;
                left: -13px;
                color: #790e0e;
                background: url(../../images/form/sprite_error.png) 0 -39px no-repeat;
                z-index: 10;
            }

                #overlay form div.error p {
                    width: auto;
                    height: 39px;
                    padding-right: 26px;
                    line-height: 24px;
                    color: #790e0e;
                    background: url(../../images/form/sprite_error.png) top right no-repeat;
                }

        #overlay .close {
            width: 30px;
            height: 30px;
            display: block;
            position: absolute;
            top: -13px;
            right: -13px;
            text-indent: -9999px;
            background: url(../../images/form/sprite_buttons.png) 0 -300px no-repeat;
        }

/* Footer
********************************************************/
#footer {
    width: 100%;
    padding: 8px 0;
    clear: both;
    position: relative;
    text-align: center;
    color: #eeeeee;
    background: url(../../images/bg/footer.png) no-repeat;
    border-top: 1px solid #596171;
}

    #footer ul {
        height: 21px;
        margin: 0 auto;
        padding: 0;
        list-style: none;
        position: relative;
    }

        #footer ul li {
            min-height: 21px;
            height: 21px;
            line-height: 21px;
            padding: 0 6px 0 0;
            margin-right : 4px;
            display: inline;
            border-right: 1px solid #eeeeee;
        }

        #footer ul li:last-child {
            width: 450px;
            border: none;
            position: relative;
        }

            #footer ul li a {
                color: #eeeeee;
            }

/* DEBUG MODE
********************************************************/
.debug {
    width: 100%;
    padding: 4px 0;
    margin-top: 16px;
    text-align: center;
    background: #FFD700;
    opacity: 0.5;
    font-size: 16px;
    font-weight: bold;
}