/*
 --> Layout css
 --> @author:     Frenk
 --> @version:    1.2
*/

body {
    color: #5A6071;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    background: #f1f1f1 url(../../images/bg/ferlauf.png) repeat-x;
}

a {
    text-decoration: underline;
    color: #000;
}
a:hover {
    text-decoration: none;
}

/* CONTAINER
********************************************************/
#wrapper {
    width: 960px;
    margin: 5px auto;
    background: #fff;
    float: none !important;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border: 1px solid #596171;
}

/* Header
********************************************************/
#header {
    width: 962px;
    position: relative;
    top: -1px;
    left: -1px;
    float: left;
    height: 60px;
    background: #596171;
    -webkit-border-top-left-radius: 15px;
    -webkit-border-top-right-radius: 15px;
    -moz-border-radius-topleft: 15px;
    -moz-border-radius-topright: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

    #header h1 {
        width: 635px;
        height: 44px;
        float: left;
    }

        #header h1 a {
            width: 100%;
            height: 40px;
            padding-top: 4px;
            display: block;
            text-indent: -9999px;
            background: url(../../images/logo.png) no-repeat 0 10px;
        }

    #header #login {
        width: 305px;
        padding-right: 20px;
        height: 40px;
        float: left;
        color: #fff;
    }

        #header #login a {
            color: #fff;
        }

/* Footer
********************************************************/
#footer {
    width: 100%;
    padding: 8px 0;
    clear: both;
    position: relative;
    text-align: center;
    background: #eee;
    border-top: 1px solid #596171;
    border-radius: 0 0 15px 15px;
    -webkit-border-radius: 0 0 15px 15px;
    -moz-border-radius: 0 0 15px 15px;
}

    #footer ul {
        height: 21px;
        margin: 0 auto;
        padding: 0;
        list-style: none;
        position: relative;
        left: -21px; /*fb like hack*/
    }

        #footer ul li {
            min-height: 21px;
            height: 21px;
            line-height: 21px;
            padding: 0 6px 0 0;
            margin-right : 4px;
            display: inline;
            border-right: 1px solid #596171;
        }

        #footer ul li:last-child {
            border: none;
            position: relative;
        }

    #footer li div {
        width: 90px;
        height: 21px;
        position: absolute;
        top: -3px;
        left: 2px;
    }