/*
 --> Layout css
 --> @author:     Frenk T. Sedmak Nahtigal
 --> @version:    1.2
*/

body {
    color: #5A6071;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    background: #f1f1f1 url(../../images/bg/ferlauf.png) repeat-x;
}

a {
    text-decoration: underline;
    color: #000;
}
a:hover {
    text-decoration: none;
}

/* CONTAINERS
********************************************************/
#wrapper {
    width: 960px;
    margin: 5px auto;
    background: #fff;
    float: none !important;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border: 1px solid #596171;
}

    #main {
        width: 920px;
        padding: 16px 20px 16px 20px;
        float: left;
        position: relative;
        top: -1px; /*header hack*/
    }

        #content {
            width: 706px;
            float: left;
        }

        #sidebar {
            width: 194px;
            float: right;
        }

/* Header
********************************************************/
#header {
    width: 962px;
    height: 80px;
    position: relative;
    top: -1px;
    left: -1px;
    float: left;
    background: url(../../images/bg/header.png) 1px 1px no-repeat;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-topright: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

    #header #headings {
        padding: 12px 0 0 20px;
        float: left;
    }

        #header h1 {
            width: 387px;
            height: 30px;
            margin-bottom: 8px;
            float: left;
        }

            #header h1 a {
                width: 100%;
                height: 100%;
                display: block;
                text-indent: -9999px;
                background: url(../../images/logo.png) no-repeat;
            }

        #header h2 {
            float: left;
            clear: left;
            font-size: 18px;
            font-style: italic;
            color: #fff;
        }

    #header #login {
        padding: 8px 20px 0 0;
        height: 64px;
        float: right;
        color: #fff;
    }

        #header #login a {
            color: #fff;
        }

        #header #login #login_image {
            margin: 0 0 8px 16px;
            float: right;
            padding: 1px 7px 8px 1px;
            background: url(../../images/bg/user_img.png);
            border-radius: 4px;
            -moz-border-radius: 4px;
            -webkit-border-radius: 4px;
        }

            #header #login #login_image img {
                width: 50px;
                height: 50px;
                display: block;
            }

        #header #login div {
            padding-top: 4px;
            float: right;
        }

            #header #login div h2 {
                margin-bottom: 20px;
                float: right;
                clear: both;
                font-size: 16px;
                font-weight: bold;
            }

            #header #login > div ul {
                float: right;
                clear: both;
            }

                #header #login > div ul li {
                    padding-right: 4px;
                    margin-right: 4px;
                    float: left;
                    border-right: 1px solid #fff;
                }

                #header #login > div ul li:last-child {
                    padding-right: 0;
                    margin-right: 0;
                    border-right: none;
                }

/* Content
********************************************************/
#content h1 {
    font-size: 24px;
    margin-bottom: 16px;
}

#content h2 {
    font-size: 18px;
    margin-bottom: 16px;
}

#content p {
    line-height: 16px;
}

/* Content
********************************************************/
.block {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #596171;
    opacity: 0.6;
}

/* Footer
********************************************************/
#footer {
    width: 100%;
    padding: 8px 0;
    clear: both;
    position: relative;
    text-align: center;
    background: #eee;
    border-top: 1px solid #596171;
    border-radius: 0 0 15px 15px;
    -webkit-border-radius: 0 0 15px 15px;
    -moz-border-radius: 0 0 15px 15px;
}

    #footer ul {
        height: 21px;
        margin: 0 auto;
        padding: 0;
        list-style: none;
        position: relative;
    }

        #footer ul li {
            min-height: 21px;
            height: 21px;
            line-height: 21px;
            padding: 0 6px 0 0;
            margin-right : 4px;
            display: inline;
            border-right: 1px solid #596171;
        }

        #footer ul li:last-child {
            width: 450px;
            border: none;
            position: relative;
        }
