/*
 --> Layout css
 --> @author:     Frenk T. Sedmak Nahtigal
 --> @version:    1.2
*/

html {
    height: 100%;
    overflow-y: scroll;
}

body {
    height: 100%;
    color: #444a56;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    background: #838790 url(../../images/bg/ferlauf.png) repeat-x;
}

a {
    text-decoration: underline;
    color: #000;
}
a:hover {
    text-decoration: none;
}

/* CONTAINERS
********************************************************/
#wrapper {
    width: 965px;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto;
    margin-bottom: -244px; /* compensate for sticky footer */
    float: none !important;
}

    #main {
        width: 920px;
        padding: 16px 25px 16px 20px;
        margin-bottom: 30px; /*14+16*/
        float: left;
        position: relative;
        background: url(../../images/bg/main.png) repeat-y;
    }

    #main.nomenu {
        margin-top: 37px; /* heading compensation*/
    }

    #mainEnd {
        width: 965px;
        height: 14px;
        position: absolute;
        left: 0;
        bottom: -14px;
        background: url(../../images/bg/mainEnd.png) no-repeat;
    }

    #push {
        width: 100%;
        height: 244px; /* for chrome*/
        clear: both;
    }

        #content {
            width: 686px;
            min-height: 345px;
            float: left;
        }

        #sidebar {
            width: 214px;
            float: right;
        }

/* Header
********************************************************/
#header {
    width: 965px;
    height: 48px;
    margin-top: 20px;
    position: relative;
    float: left;
    background: url(../../images/bg/header.png) no-repeat;
}

    #header #headings {
        padding: 12px 0 0 20px;
        float: left;
    }

        #header h1 {
            width: 310px;
            height: 25px;
            margin-top: 2px;
            float: left;
        }

            #header h1 a {
                width: 100%;
                height: 100%;
                display: block;
                text-indent: -9999px;
                background: url(../../images/logo.png) no-repeat;
            }

    #header #login {
        padding: 6px 20px 0 0;
        height: 64px;
        float: right;
        color: #fff;
    }

        #header #login a {
            color: #fff;
        }

        #header #login > p {
            padding-top: 12px;
            margin-bottom: 8px;
        }

        #header #login #facebookLogin {
            margin-top: 8px;
            float: right;
        }

        #header #login #login_image {
            width: 37px;
            height: 38px;
            padding: 0;
            margin: 0 0 8px 16px;
            float: right;
            background: url(../../images/bg/user_img.png) no-repeat;
        }

            #header #login #login_image img {
                width: 34px;
                height: 34px;
                display: block;
                position: relative;
                top: 1px;
                left: 1px;
            }

        #header #login div {
            padding-top: 2px;
            float: right;
        }

            #header #login div h2 {
                margin-bottom: 6px;
                float: right;
                clear: both;
                font-size: 12px;
                font-weight: bold;
            }

            #header #login > div ul {
                float: right;
                clear: both;
            }

                #header #login > div ul li {
                    padding-right: 6px;
                    margin-right: 6px;
                    line-height: 13px;
                    float: left;
                    border-right: 1px solid #fff;
                }

                #header #login > div ul li:last-child {
                    padding-right: 0;
                    margin-right: 0;
                    border-right: none;
                }

/* Content
********************************************************/
#content h1 {
    font-size: 24px;
    margin-bottom: 16px;
}

#content h2 {
    font-size: 18px;
    margin-bottom: 16px;
}

#content p {
    line-height: 16px;
}

#sidebar.help,
.sidebar.help {
    width: 190px; /*235*/
    padding: 16px 25px 16px 20px;
    position: relative;
    background: url(../../images/bg/sprite_help.png) -300px -50px no-repeat;
}

    #sidebar.help h4,
    .sidebar.help h4 {
        margin-bottom: 8px;
        font-size: 14px;
        font-style: italic;
        color: #838790;
    }

    #sidebar.help p,
    .sidebar.help p {
        line-height: 13px;
        margin-bottom: 16px;
        font-size: 11px;
    }

    #sidebar.help p.l,
    .sidebar.help p.l {
        margin-bottom: 0;
    }

#sidebar.help div.last,
.sidebar.help div.last {
    width: 235px;
    height: 12px;
    position: absolute;
    left: 0;
    bottom: -12px;
    background: url(../../images/bg/sprite_help.png) -300px 0 no-repeat;
}


/* Ajax Block
********************************************************/
.block {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../../images/bg/overlay_bg.png) repeat;
    border: none !important;
    z-index: 100;
}

.block.rounded {
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}

.block.roundedBottom {
    border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
}

    .block img {
        position: absolute;
    }

/* Overlay
********************************************************/
#overlay_bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: url(../../images/bg/overlay_bg.png) repeat;
    z-index: 1000;
}

    #overlay {
        width: 489px;
        padding: 16px 18px 8px 18px;
        position: absolute;
        background: url(../../images/bg/overlay_top.png) no-repeat;
        z-index: 1001;
    }

    #overlayBottom {
        width: 525px;
        height: 8px;
        position: absolute;
        bottom: -8px;
        left: 0;
        background: url(../../images/bg/overlay_bottom.png) no-repeat;;
    }

        #overlay h2 {
            width: 100%;
            margin-bottom: 16px;
            float: left;
            font-size: 24px;
            font-weight: bold;
            color: #fff;
        }

        #overlay > p {
            padding: 0 10px 0 30px;
            line-height: 16px;
            margin-bottom: 16px;
            float: left;
            font-size: 11px;
            font-style: italic;
            color: #fff;
            background: url(../../images/sprite_icons.png) 10px -400px no-repeat;
        }

        #overlay form,
        #overlay form fieldset {
            width: 100%;
            float: left;
            position: relative;
        }


                #overlay form fieldset p i {
                    font-style: italic;
                    font-weight: bold;
                }

                #overlay input[type="text"] {
                    width: 472px; /*492px*/
                    height: 23px; /*29px*/
                    padding: 0 10px 6px 10px;
                    margin-bottom: 2px;
                    font-size: 18px;
                    color: #444a56;
                    background: url(../../images/form/overlay_input.png) no-repeat;
                    border: none;
                }

                #overlay input[type="submit"] {
                    width: 103px;
                    height: 34px;
                    padding: 0;
                    float: right;
                    text-indent: -9999px;
                    background: url(../../images/form/sprite_buttons.png) -300px 0 no-repeat;
                    border: none;
                }

                #overlay input[type="submit"]:hover { cursor: pointer; background-position: -450px 0;}
                #overlay input[type="submit"]:active { cursor: pointer; background-position: -600px 0;}


                #overlay form span {
                    width: 100%;
                    float: left;
                    display: block;
                    font-size: 11px;
                    color: #717c90;
                }

            #overlay form div.error {
                height: 39px;
                line-height: 24px;
                padding: 0 0 0 21px;
                position: absolute;
                top: -26px;
                left: -13px;
                color: #790e0e;
                background: url(../../images/form/sprite_error.png) 0 -39px no-repeat;
                z-index: 10;
            }

                #overlay form div.error p {
                    width: auto;
                    height: 39px;
                    padding-right: 26px;
                    line-height: 24px;
                    color: #790e0e;
                    background: url(../../images/form/sprite_error.png) top right no-repeat;
                }

        #overlay .close {
            width: 30px;
            height: 30px;
            display: block;
            position: absolute;
            top: -13px;
            right: -13px;
            text-indent: -9999px;
            background: url(../../images/form/sprite_buttons.png) 0 -300px no-repeat;
        }

/* Footer
********************************************************/
#footer {
    width: 100%;
    height: 220px; /*244px*/
    padding: 24px 0 0 0;
    clear: both;
    position: relative;
    text-align: center;
    color: #eeeeee;
    background: #444a56 url(../../images/bg/footer.png) repeat-x;
}

    #footer ul {
        width: 960px;
        height: 200px;
        margin: 0 auto;
        padding: 0;
        list-style: none;
        position: relative;
    }

        #footer ul li {
            width: 331px;
            margin-right: 20px;
            float: left;
        }

        #footer ul li:nth-child(2) {
            width: 256px;
        }

        #footer ul li:last-child {
            margin-right: 0;
            border: none;
        }

            #footer ul li dl {
                width: 100%;
                height: 100%;
                line-height: 14px;
            }

                #footer ul li dl dt {
                    height: 192px;
                    padding: 8px 20px 0 0;
                    margin-right: 20px;
                    float: left;
                    font-size: 24px;
                    background: url(../../images/bg/footer_seperator.png) top right no-repeat;
                }

                #footer ul li dl dd {
                    width: 223px;
                    padding-top: 8px;
                    float: left;
                    text-align: left;
                    font-style: italic;
                    color: #dbe3f0;
                }

                #footer ul li:nth-child(2) dl dd {
                    width: 132px;
                }

                    #footer ul li dl dd p {
                        margin-bottom: 8px;
                    }

                    #footer ul li dl dd p:last-child {
                        margin-bottom: 0;
                    }

                    #footer ul li dl dd span {
                        font-size: 20px;
                        line-height: 20px;
                        margin-bottom: 16px;
                        display: block;
                        color: #fff;
                    }

                    #footer ul li dl dd span b {
                        font-weight: bold;
                    }

                    #footer ul li #footer_facebook,
                    #footer ul li #footer_twitter,
                    #footer ul li #footer_email {
                        width: 100%;
                        height: 36px;
                        margin-bottom: 16px;
                        display: block;
                        text-indent: -9999px;
                        background: url(../../images/sprite_sns.png) no-repeat;
                        text-decoration: none;
                    }

                    #footer ul li #footer_twitter { background-position: 0 -50px }
                    #footer ul li #footer_email   { background-position: 0 -100px }

            #footer ul li a {
                color: #eeeeee;
            }

/* DEBUG MODE
********************************************************/
.debug {
    width: 100%;
    padding: 4px 0;
    margin-top: 16px;
    text-align: center;
    background: #FFD700;
    opacity: 0.5;
    font-size: 16px;
    font-weight: bold;
}
