/*
 --> Criteria css
 --> @author:     Frenk T. Sedmak Nahtigal
 --> @version:    1.1
*/

#content > form {
    width: 100%;
    float: left;
    position: relative;
}

    #content > form ol {
        width: 686px;
        padding-left: 20px;
        list-style: decimal outside;
        float: left;
        position: relative;
    }

        #content > form ol li {
            margin-bottom: 16px;
            float: left;
            position: relative;
        }

        #content > form ol li:last-child {
        }

    #content > form input[type="text"] {
        width: 640px;
        height: 26px;
        line-height: 26px;
        padding: 0 10px;
        background: #DBE3F0;
        border: none;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        border-radius: 6px;
        border: 1px solid #fff;
    }

    #content > form input[type="submit"] {
        float: right;
    }

    #content > form input.error {
        border: 1px solid #f00;
    }

    #content > form ol li span {
        width: 16px;
        height: 20px;
        line-height: 20px;
        padding-left: 4px;
        display: block;
        position: absolute;
        top: 2px;
        right: -25px;
        font-size: 20px;
        font-weight: bold;
        background: #596171;
        color: #DBE3F0;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
    }

    #content > form input + .remove {
        width: 15px;
        padding-left: 5px;
        line-height: 16px;
        font-size: 24px;
    }

        #content > form input + span:hover {
            cursor: pointer;
        }

    #content > form div.error {
        height: 24px;
        line-height: 24px;
        padding: 0 20px;
        position: absolute;
        top: 8px;
        left: 0;
        color: #000;
        background: #FFD700;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        border-radius: 6px;
        border: 1px solid #f00;
        opacity: 0.8;
    }

        #content > form div.error p {
            line-height: 24px;
        }

/* Sidebar
********************************************************/
#sidebar {
    width: 178px;
    padding: 8px;
    line-height: 16px;
    border: 3px solid #DBE3F0;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

    #sidebar ul {
        list-style: circle outside;
        padding-left: 16px;
    }

        #sidebar ul li {
            margin-bottom: 8px;
        }

        #sidebar ul li:last-child {
            margin-bottom: 0;
        }