/*
 --> Criteria css
 --> @author:     Frenk T. Sedmak Nahtigal
 --> @version:    1.2
*/

#content {
    width: 670px;
}

#content > p {
    padding-left: 20px;
    margin-bottom: 16px;
    color: #9d9fa3;
    font-style: italic;
  }

#content > form {
    width: 100%;
    margin-bottom: 16px;
    float: left;
    position: relative;
}

    #content > form ol {
        width: 630px;
        padding-left: 33px;
        margin-left: 20px;
        list-style: decimal outside;
        float: left;
        position: relative;
    }

        #content > form ol li {
            width: 597px; /*input width*/
            height: 38px;
            line-height: 38px;
            padding-left: 20px;
            margin-bottom: 16px;
            float: left;
            position: relative;
            font-weight: bold;
        }

        #content > form ol li.placeholder {
            width: 575px; /*fake it*/
            height: 36px; /*fake it*/
            line-height: 38px;
            margin-left: 20px;
            font-size: 18px;
            background-color: #fff;
            border: 1px solid #dedfe3;
            -moz-border-radius: 6px;
            -webkit-border-radius: 6px;
            border-radius: 6px;
            color: #9D9FA3;
        }

        #content > form ol li.ui-sortable-helper {
            list-style-type: none;
        }

            #content > form ol li.ui-sortable-helper input {
                position: relative;
            }

    #content > form > div {
        padding: 0 0 24px 20px;
        margin-bottom: 24px;
        position: relative;
        float: left;
        border-bottom: 1px solid #dedfe3;
    }

    #content > form input[type="text"] {
        width: 520px; /*597px*/
        height: 38px;
        line-height: 38px;
        padding: 0 35px 0 42px;
        float: left;
        font-size: 14px;
        background: url(../../images/form/sprite_input.png) 0 -50px no-repeat;
        border: none;
    }

    #content > form div input[type="text"]{
        width: 607px; /*650px*/
        padding: 0 35px 0 8px;
        background-position: 0 0;
    }
    
    #content > form input[type="text"]:focus {
        font-weight: bold;
    }

        #content > form span:hover,
        #content > form span:active { cursor: pointer }

        #content > form span.add,
        #content > form span.remove,
        #content > form span.drag {
            width: 40px;
            height: 36px;
            display: block;
            position: absolute;
            background: url(../../images/form/sprite_buttons.png) no-repeat;
        }

        #content > form span.add,
        #content > form span.remove {
            width: 46px;
            top: 1px;
            right: 1px;
            color: #fff;
            line-height: 35px;
            font-size: 18px;
            font-weight: bold;
            text-align: center;
        }

        #content > form span.remove,
        #content > form span.add           { background-position: 0 0 }
        #content > form span.remove:hover,
        #content > form span.add:hover { color: #FFD700 }
        #content > form span.remove:active,
        #content > form span.add:active    { background-position: 0 -100px }

        #content > form span.drag {
            top: 1px;
            left: 21px;
            background-position: 0 -200px;
        }

        #content > form span.drag:hover { background-position: -100px -200px }

        #content form .loading {
            width: 24px;
            height: 24px;
            display: block;
            position: absolute;
            top: 7px;
            right: 52px;
            background: url(../../images/ajax-loader-circular.gif) no-repeat;
        }

    #content > form div.error {
        height: 39px;
        line-height: 24px;
        padding: 0 0 0 21px;
        position: absolute;
        top: 8px;
        left: 7px;
        color: #790e0e;
        background: url(../../images/form/sprite_error.png) 0 -39px no-repeat;
        z-index: 10;
    }

    #content > form li div.error {
        left: 30px;
    }

        #content > form div.error p {
            height: 39px;
            padding-right: 26px;
            line-height: 24px;
            background: url(../../images/form/sprite_error.png) top right no-repeat;
        }

/* Sidebar
********************************************************/
#sidebar {
    width: 192px;
    padding: 0 8px 8px 8px;
    line-height: 16px;
}
    #sidebar h3
    {
        text-align: center;
        font-style: italic;
        font-size: 16px;
        padding-bottom: 17px;
        margin-bottom: 5px;
        border-bottom: 1px solid #DEDFE3;
    }

    #sidebar ul {
        list-style: none;
        padding: 5px;
        text-align: left;
        font-size: 11px;
    }

        #sidebar ul li {
            margin-bottom: 8px;
        }

        #sidebar ul li:last-child {
            margin-bottom: 0;
        }
            #sidebar ul li dl dt {
                font-size: 12px;
                font-style: italic;
                font-weight: bold;
                margin-bottom: 6px;
            }