/*
 --> Analysis css
 --> @author:     Frenk T. Sedmak Nahtigal
 --> @version:    1.0
*/

/* Layout
********************************************************/
.content {
    width: 666px;
    margin-bottom: 16px;
    float: left;
}

.sidebar {
    width: 234px;
    margin-bottom: 16px;
    float: right;
}

/* Accordion
********************************************************/
#accordion {
    width: 100%;
}

    #accordion h3 {
        width: 100%;
        height: 25px;
        line-height: 25px;
        margin: 0 0 16px 0;
        float: left;
        border: 1px solid #dedfe3;
        border-radius: 6px;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
    }


    #accordion h3.ui-state-default {
        background: #f7f7f8;
    }

        #accordion h3 a {
            width: 879px;
            height: 100%;
            padding: 0 10px;
            line-height: 25px;
            display: block;
            float: left;
            font-size: 14px;
            font-weight: bold;
            color: #444a56;
            text-decoration: none;
        }

        #accordion h3 .ui-icon {
            width: 11px;
            height: 9px;
            margin: 8px 0 0 10px;
            display: block;
            float: left;
            background: url(../../images/sprite_icons.png) no-repeat;
        }

        #accordion h3 .ui-icon-triangle-1-e { background-position: 0 -550px }
        #accordion h3 .ui-icon-triangle-1-s { background-position: 0 -600px }

    #accordion > div {
        width: 100%;
        float: left;
    }

/* Abacon Content
 * Score Content
********************************************************/
#abacon,
#score {
    position: relative;
}

    #abacon .criteria,
    #score .alternatives {
        width: 155px;
        position: absolute;
        top: 0;
        left: 0;
        table-layout: fixed;
    }

        #abacon .criteria tr,
        #score .alternatives tr {
            width: 100%;
            height: 59px;
        }

            #abacon .criteria tr td,
            #score .alternatives tr td {
                height: 60px;
                max-height: 60px;
                padding: 0 10px 1px 10px;
                vertical-align: middle;
                color: #444a56;
                font-size: 14px;
                font-style: italic;
                text-align: right;
                overflow: hidden;
            }

    #abacon .scale,
    #score .scale {
        position: absolute;
        bottom: 10px;
        right: 14px;
    }

        #abacon .scale tr,
        #score .scale tr {
            width: 100%;
        }

            #abacon .scale tr td,
            #score .scale tr td {
                width: 50px;
                vertical-align: middle;
                color: #444a56;
                opacity: 0.7;
                font-size: 14px;
                font-style: italic;
                text-align: right;
                overflow: hidden;
            }

/* Score Sidebar
********************************************************/
#score-sidebar {
    line-height: 16px;
}

    #score-sidebar h4 {
        text-align: center;
        font-style: italic;
        font-size: 16px;
        padding-bottom: 17px;
        margin-bottom: 5px;
        border-bottom: 1px solid #DEDFE3;
    }

    #score-sidebar ul {
        list-style: none;
        padding: 5px;
        text-align: left;
        font-size: 11px;
    }

        #score-sidebar ul li {
            margin-bottom: 8px;
        }

        #score-sidebar ul li:last-child {
            margin-bottom: 0;
        }
            #score-sidebar ul li dl dt {
                font-size: 12px;
                font-style: italic;
                font-weight: bold;
                margin-bottom: 6px;
            }

/* Abacon Sidebar
********************************************************/
#abacon-sidebar h3 {
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: bold;
    color: #444A56;
    border: none;
}

#abacon-sidebar h4 {
        text-align: center;
        font-style: italic;
        font-size: 16px;
        padding-bottom: 17px;
        margin-bottom: 5px;
        border-bottom: 1px solid #DEDFE3;
}

#abacon-sidebar form {
    width: 234px;
    height: 26px;
    padding-top: 8px;
    margin-bottom: 16px;
    position: relative;
    float: left;
}

    #abacon-sidebar ul.legend {
        margin-bottom: 16px;
        float: left;
    }

    #abacon-sidebar ul.legend li {
        width: 217px;
        height: 33px;
        line-height: 33px;
        padding-right: 17px;
        margin-bottom: 1px;
        position: relative;
        background: #fff url(../../images/bg/legend_list.png) top right no-repeat;;
    }

        #abacon-sidebar ul.legend li .color {
            width: 10px;
            height: 32px;
            margin-right: 10px;
            display: block;
            float: left;
        }

        #abacon-sidebar ul.legend li .remove {
            width: 16px;
            height: 32px;
            line-height: 32px;
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            font-size: 11px;
            text-align: center;
            font-weight: bold;
            color: #444a56;
            opacity: 0.5;
        }

        #abacon-sidebar ul.legend li .remove:hover { cursor: pointer; opacity: 1 }

/*sidebar select ul - fake*/
.selectBox-dropdown-menu {
    width: 232px;
    position: absolute;
    border: 1px solid #97999d;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    background: #fff;
    z-index: 5;
    overflow: hidden;
}

    .selectBox-dropdown-menu li:hover {
        background: #F7F7F8;
    }

    .selectBox-dropdown-menu li:last-child {
    }

        .selectBox-dropdown-menu a {
            padding: 8px 23px;
            margin-bottom: 2px;
            cursor: pointer;
            display: block;
            text-decoration: none;
        }

        .selectBox-dropdown-menu a:last-child {
            margin-bottom: 0;
        }

/*sidebar select*/
#abacon-sidebar .selectBox-dropdown {
    width: 234px;
    height: 26px;
    line-height: 26px;
    display: block;
    position: relative;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border: 1px solid #97999d;
    text-decoration: none;
    cursor: pointer;
}

#abacon-sidebar span.selectBox-dropdown {
    width: 234px;
    cursor: default;
}

    #abacon-sidebar .selectBox-label {
        width: 183px;
        padding-left: 23px;
        display: block;
    }

    #abacon-sidebar .selectBox-arrow,
    #abacon-sidebar .selectBox-arrow-reverse {
        width: 11px;
        height: 9px;
        margin: 9px 0 0 7px;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: url(../../images/sprite_icons.png) 0 -600px no-repeat;
    }

    #abacon-sidebar .selectBox-arrow-reverse { background-position: 0 -550px}

/* #abacon-sidebar help */
    #abacon-sidebar ul.help {
        line-height: 16px;
        list-style: none;
        padding: 5px;
        text-align: left;
        font-size: 11px;
    }

        #abacon-sidebar ul.help li {
            margin-bottom: 8px;
        }

        #abacon-sidebar ul.help li:last-child {
            margin-bottom: 0;
        }
            #abacon-sidebar ul.help li dl dt {
                font-size: 12px;
                font-style: italic;
                font-weight: bold;
                margin-bottom: 6px;
            }