/*
 --> Analysis css
 --> @author:     Frenk T. Sedmak Nahtigal
 --> @version:    1.0
*/

/* Layout
********************************************************/
.content {
    width: 666px;
    min-height: 400px;
    float: left;
}

.sidebar {
    width: 234px;
    float: right;
}

/* Accordion
********************************************************/
#accordion {
    width: 100%;
}

    #accordion h3 {
        width: 100%;
        height: 25px;
        line-height: 25px;
        margin-bottom: 16px;
        float: left;
        border: 1px solid #dedfe3;
        border-radius: 6px;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
    }


    #accordion h3.ui-state-default {
        background: #f7f7f8;
    }

        #accordion h3 a {
            width: 879px;
            height: 100%;
            padding: 0 10px;
            line-height: 25px;
            font-size: 16px;
            display: block;
            float: left;
            color: #444a56;
            text-decoration: none;
        }

        #accordion h3 .ui-icon {
            width: 11px;
            height: 9px;
            margin: 8px 0 0 10px;
            display: block;
            float: left;
            background: url(../../images/sprite_icons.png) no-repeat;
        }

        #accordion h3 .ui-icon-triangle-1-e { background-position: 0 -550px }
        #accordion h3 .ui-icon-triangle-1-s { background-position: 0 -600px }

    #accordion > div {
        width: 100%;
        float: left;
    }

/* Sidebar
********************************************************/
.sidebar h4 {
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: bold;
    color: #444a56;
}

.sidebar form {
    margin-bottom: 16px;
    position: relative;
}

    .sidebar form input[type="submit"] {
        width: 27px;
        height: 28px;
        position: absolute;
        top: 0;
        right: 0;
        background: url(../../images/form/sprite_buttons.png) 0 -100px no-repeat;
        text-indent: -9999px;
            border-radius: 0 6px 6px 0;
        -moz-border-radius: 0 6px 6px 0;
        -webkit-border-radius: 0 6px 6px 0;
        border: 1px solid #97999d;
        border-width: 1px 1px 1px 0;
    }


    .sidebar form input[type="submit"]:hover { background-position: -100px -100px; cursor: pointer }
    .sidebar form input[type="submit"]:active { background-position: -200px -100px }

.sidebar form + ul {

}

    .sidebar form + ul li {
        width: 217px;
        height: 33px;
        line-height: 33px;
        padding-right: 17px;
        margin-bottom: 2px;
        position: relative;
        background: #fff url(../../images/bg/legend_list.png) top right no-repeat;;
    }

        .sidebar form + ul li .color {
            width: 10px;
            height: 32px;
            margin-right: 10px;
            display: block;
            float: left;
        }

        .sidebar form + ul li .remove {
            width: 16px;
            height: 32px;
            line-height: 32px;
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            font-size: 13px;
            text-align: center;
            font-weight: bold;
            color: #444a56;
            opacity: 0.5;
        }

        .sidebar form + ul li .remove:hover { cursor: pointer; opacity: 1 }

/*sidebar select ul - fake*/
.selectBox-dropdown-menu {
    width: 206px;
    padding: 6px 0;
    position: absolute;
    border: 1px solid #97999d;
    border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    -webkit-border-radius: 0 0 6px 6px;
    background: #fff;
}

    .selectBox-dropdown-menu a {
        padding: 6px 10px;
        margin-bottom: 2px;
        cursor: pointer;
        display: block;
        text-decoration: none;
    }

    .selectBox-dropdown-menu a:hover {
        background: #F7F7F8;
    }

    .selectBox-dropdown-menu a:last-child {
        margin-bottom: 0;
    }

/*sidebar select*/
.sidebar .selectBox-dropdown {
    width: 208px;
    height: 26px;
    line-height: 26px;
    position: relative;
    border-radius: 6px 0 0 0;
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border: 1px solid #97999d;
    text-decoration: none;
    cursor: pointer;
}

.sidebar .selectBox-menuShowing {
    border-bottom: 0;
    border-radius: 6px 0 0 0;
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
}

    .sidebar .selectBox-label {
        width: 183px;
        padding-left: 23px;
        display: block;
    }

    .sidebar .selectBox-arrow {
        width: 11px;
        height: 9px;
        margin: 9px 0 0 7px;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: url(../../images/sprite_icons.png) 0 -600px no-repeat;
    }