/*
 --> Analysis css
 --> @author:     Frenk T. Sedmak Nahtigal
 --> @version:    3.0
*/

/* Layout
********************************************************/
.content h1 {
    font-size: 30px;
    margin-bottom: 8px;
    text-align: center;
}
    .content h1 b,
    .content p b {
        font-weight: bold;
    }

.content h2 {
    font-size: 20px;
    margin-bottom: 16px;
}
    .content h1 + h2 {
        font-size: 12px;
        font-family: Arial;
        font-style: normal;
        margin-bottom: 40px;
        text-align: center;
    }

.content form + p,
.content form p,
#accordion > div > p {
    padding: 0 20px;
    margin-bottom: 16px;
    color: #9d9fa3;
    font-style: italic;
    line-height: 16px;
}

.content > p {
    padding: 0 20px;
    margin-bottom: 16px;
    color: #9d9fa3;
    font-style: italic;
    line-height: 16px;
    font-size: 14px;
    margin-bottom: 40px;
}

.sidebar {
    width: 228px;
    margin-bottom: 16px;
    float: right;
}


#accordion form textarea {
    width: 898px; /*628px*/
    max-width: 898px; /*628px*/
    min-width: 898px; /*628px*/
    height: 120px;
    padding: 8px 10px;
    margin-bottom: 40px;
    float: left;
    font-size: 14px;
    color: #444a56;
    border: 1px solid #97999d;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background: #fdfefe; /* Old browsers */
    background: -moz-linear-gradient(top, #fdfefe 0%, #f4f4f4 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfefe), color-stop(100%,#f4f4f4)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fdfefe 0%,#f4f4f4 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fdfefe 0%,#f4f4f4 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #fdfefe 0%,#f4f4f4 100%); /* IE10+ */
    background: linear-gradient(to bottom, #fdfefe 0%,#f4f4f4 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfefe', endColorstr='#f4f4f4',GradientType=0 ); /* IE6-9 */
}

#description {
    padding-bottom: 40px;
    margin-bottom: 40px;
    position: relative;
    border-bottom: 1px solid #eeeff1;
}
    #description p {
        line-height: 16px;
        padding: 0 20px;
    }

    #description > a {
        background: url("../../images/bg/icons.png") no-repeat scroll 9px -590px transparent;
        display: block;
        height: 32px;
        text-indent: -9999px;
        width: 32px;
        position: absolute;
        top: -10px;
        left: -22px;
    }

/* Button: begin your journey
********************************************************/
#accordion form div,
#sns {
    margin-bottom: 40px;
    text-align: center;
    float: left;
    width: 100%;
    background: url(../../images/bg/index_button.png) 0 11px no-repeat;
}

#accordion form div input {
    padding: 8px 30px;
    background: #3d4a61; /* Old browsers */
    color: #fff !important;
    font-size: 16px;
    background: -moz-linear-gradient(top, #3d4a61 14%, #1c2434 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(14%,#3d4a61), color-stop(100%,#1c2434)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #3d4a61 14%,#1c2434 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #3d4a61 14%,#1c2434 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #3d4a61 14%,#1c2434 100%); /* IE10+ */
    background: linear-gradient(to bottom, #3d4a61 14%,#1c2434 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d4a61', endColorstr='#1c2434',GradientType=0 ); /* IE6-9 */
    box-shadow: 2px 3px 1px #ecedee;
    -moz-box-shadow: 2px 3px 1px #ecedee;
    -webkit-box-shadow:  2px 3px 1px #ecedee;
    border: none;
    cursor: pointer;
}
    #accordion form div input:hover {
        text-decoration: underline;
    }


/* Accordion
********************************************************/
#accordion {
    width: 100%;
    margin-bottom: 24px;
}

    #accordion h3 {
        width: 100%;
        margin-bottom: 16px;
        float: left;
        color: #444A56;
        font-family: Times New Roman,Arial,sans-serif;
        font-size: 30px;
        font-style: italic;
    }

    #accordion h1 + p,
    #accordion h1 + div + p {
        width: 650px;
        line-height: normal;
        padding-left: 20px;
        margin-bottom: 24px;
        float: left;
        font-style: italic;
        color: #838790;
    }

    #accordion > div {
        width: 100%;
        float: left;
    }

    #accordion > div + p,
    #accordion #score + p {
        padding-left: 20px;
        margin-bottom: 40px;
        float: right;
        color: #838790;
        font-size: 11px;
    }

        #accordion > div > p b {
            font-weight: bold;
            font-style: italic;
            color: #444a56;
        }

/* Abacon Content
 * Score Content
********************************************************/
#score span.score, #abacon span.score {
    position: absolute;
    text-align: right;
    background-color: white;
    font-size: 10px;
    margin: 0;
    padding: 0;
    border: 1px solid #dedfe3;
    padding: 2px;
    display: none;
}

#abacon,
#score {
    position: relative;
    float: left;
}

#abacon {
    margin-bottom: 24px;
}

#score {
    margin-bottom: 8px;
}

    #abacon .criteria,
    #score .alternatives {
        width: 156px;
        position: absolute;
        top: 0;
        left: 0;
        table-layout: fixed;
    }

    #score .alternatives {
        width: 189px; /*155px*/
        left: -44px;
    }

        #abacon .criteria tr,
        #score .alternatives tr {
            width: 100%;
            height: 60px;
        }

            #abacon .criteria tr td,
            #score .alternatives tr td.name {
                width: 135px;
                height: 60px;
                max-height: 60px;
                padding: 0 10px 0px 10px;
                vertical-align: middle;
                color: #444a56;
                font-size: 14px;
                font-style: italic;
                text-align: right;
                overflow: hidden;
                position: relative;
            }

    #abacon .scale,
    #score .scale {
        position: absolute;
        bottom: 10px;
        right: 14px;
    }

    #score .scale {
        right: 20px;
    }
        #abacon .scale tr,
        #score .scale tr {
            width: 100%;
        }

            #abacon .scale tr td,
            #score .scale tr td {
                width: 50px;
                vertical-align: middle;
                color: #444a56;
                opacity: 0.7;
                font-size: 14px;
                font-style: italic;
                text-align: right;
                overflow: hidden;
            }

            #score .scale tr td {
                width: 75px;
            }

            #score .alternatives td.name:hover {
                cursor: pointer;
            }

            #score .alternatives tr.public td.name:hover {
                cursor: text;
            }

            #score .alternatives td.fav {
                width: 44px;
                top: 0;
                left: -30px;
            }

            #score .alternatives tr:hover td.fav {
                background: url(../../images/bg/icons.png) 0 -1987px no-repeat;
                cursor: pointer;
            }

            #score .alternatives tr.public:hover td.fav {
                background: none;
                cursor: default;
            }

            #score .alternatives tr.public:hover td.fav.selected {
                background: url(../../images/bg/icons.png) 0 -1987px no-repeat;
            }

            #score .alternatives td.selected {
                background: url(../../images/bg/icons.png) 0 -1987px no-repeat;
            }

            #score .alternatives td.selected + td.name {
                background: #fdfefe; /* Old browsers */
                background: -moz-linear-gradient(left, #fdfefe 0%, #f4f4f4 99%); /* FF3.6+ */
                background: -webkit-gradient(linear, left top, right top, color-stop(0%,#fdfefe), color-stop(99%,#f4f4f4)); /* Chrome,Safari4+ */
                background: -webkit-linear-gradient(left, #fdfefe 0%,#f4f4f4 99%); /* Chrome10+,Safari5.1+ */
                background: -o-linear-gradient(left, #fdfefe 0%,#f4f4f4 99%); /* Opera 11.10+ */
                background: -ms-linear-gradient(left, #fdfefe 0%,#f4f4f4 99%); /* IE10+ */
                background: linear-gradient(to right, #fdfefe 0%,#f4f4f4 99%); /* W3C */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfefe', endColorstr='#f4f4f4',GradientType=1 ); /* IE6-9 */
                font-weight: bold;
                z-index: -1000;
            }

            #score .alternatives tr.public td.selected + td.name {
            }

/* Score Sidebar
********************************************************/
#score-sidebar {
    line-height: 16px;
}

    #score-sidebar h4 {
        text-align: center;
        font-style: italic;
        font-size: 16px;
        padding-bottom: 17px;
        margin-bottom: 5px;
        border-bottom: 1px solid #DEDFE3;
    }

    #score-sidebar ul {
        list-style: none;
        padding: 5px;
        text-align: left;
        font-size: 11px;
    }

        #score-sidebar ul li {
            margin-bottom: 8px;
        }

        #score-sidebar ul li:last-child {
            margin-bottom: 0;
        }
            #score-sidebar ul li dl dt {
                font-size: 12px;
                font-style: italic;
                font-weight: bold;
                margin-bottom: 6px;
            }

/* Abacon Sidebar
********************************************************/
#abacon-sidebar h3 {
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: bold;
    color: #444A56;
    border: none;
}

#abacon-sidebar h4 {
        text-align: center;
        font-style: italic;
        font-size: 16px;
        padding-bottom: 17px;
        margin-bottom: 5px;
        border-bottom: 1px solid #DEDFE3;
}

#abacon-sidebar {
    width: 234px;
    padding: 0 10px;
}

#abacon-sidebar form {
    width: 100%;
    height: 24px;
    margin-bottom: 16px;
    position: relative;
    float: left;
}

    #abacon-sidebar ul.legend {
        margin-bottom: 16px;
        float: left;
    }

    #abacon-sidebar ul.legend li {
        width: 217px;
        height: 33px;
        line-height: 33px;
        padding-right: 17px;
        margin-bottom: 1px;
        position: relative;
        background: #fff url(../../images/bg/legend_list.png) top right no-repeat;;
    }

        #abacon-sidebar ul.legend li .color {
            width: 10px;
            height: 32px;
            margin-right: 10px;
            display: block;
            float: left;
        }

        #abacon-sidebar ul.legend li .remove {
            width: 16px;
            height: 32px;
            line-height: 32px;
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            font-size: 11px;
            text-align: center;
            font-weight: bold;
            color: #444a56;
            opacity: 0.5;
        }

        #abacon-sidebar ul.legend li .remove:hover { cursor: pointer; opacity: 1 }

/*sidebar select ul - fake*/
.selectBox-dropdown-menu {
    width: 232px;
    position: absolute;
    border: 1px solid #97999d;
    background: #fff;
    z-index: 5;
    overflow: hidden;
}

    .selectBox-dropdown-menu li:hover {
        background: #F7F7F8;
    }

    .selectBox-dropdown-menu li:last-child {
    }

        .selectBox-dropdown-menu a {
            padding: 6px 23px;
            margin-bottom: 2px;
            cursor: pointer;
            display: block;
            text-decoration: none;
        }

        .selectBox-dropdown-menu a:last-child {
            margin-bottom: 0;
        }

/*sidebar select*/
#abacon-sidebar .selectBox-dropdown {
    width: 232px;
    height: 29px;
    line-height: 29px;
    display: block;
    position: relative;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border: 1px solid #97999d;
    text-decoration: none;
    cursor: pointer;
    background: -moz-linear-gradient(top, #fdfefe 0%, #f4f4f4 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfefe), color-stop(100%,#f4f4f4)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fdfefe 0%,#f4f4f4 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fdfefe 0%,#f4f4f4 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #fdfefe 0%,#f4f4f4 100%); /* IE10+ */
    background: linear-gradient(to bottom, #fdfefe 0%,#f4f4f4 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfefe', endColorstr='#f4f4f4',GradientType=0 ); /* IE6-9 */
}

#abacon-sidebar span.selectBox-dropdown {
    width: 254px;
    cursor: default;
}

    #abacon-sidebar .selectBox-label {
        width: 192px;
        padding-left: 10px;
        padding-right: 30px;
        display: block;
    }

    #abacon-sidebar .selectBox-arrow,
    #abacon-sidebar .selectBox-arrow-reverse {
        width: 31px;
        height: 29px;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        background: url(../../images/bg/icons.png) -1px -1000px no-repeat;

    }

    #abacon-sidebar .selectBox-arrow-reverse { background-position: 0 -550px}

/* Content navigation
********************************************************/
#content-nav {
    margin-right: 0px;
}

/* Sidebar
********************************************************/
.sidebar.help {
    width: 234px; /*254px*/
    padding: 0px 10px 8px 10px;
    line-height: 16px;
    float: right;
}
.sidebar.help h2 {
    font-size: 18px;
    margin-bottom: 16px;
}
    .sidebar.help h2 + p {
        margin-bottom: 24px;
    }

.sidebar.help p {
    margin-bottom: 8px;
    line-height: 16px;
    color: #9d9fa3;
}

#sns ul {
    width: 232px;
    margin: 0 auto;
}
    #sns ul li {
        float: left;
        width: 32px;
        height: 32px;
        margin-right: 8px;
    }
        #sns ul li:last-child {
            margin-right: 0;
        }

    #sns li a {
        width: 32px;
        height: 32px;
        margin-top: 4px;
        display: block;
        text-indent: -9999px;
        outline: none;
    }

    #sns #share_facebook    { background: url(../../images/social/facebook-32x32.png) no-repeat }
    #sns #share_twitter     { background: url(../../images/social/twitter-32x32.png) no-repeat }
    #sns #share_digg        { background: url(../../images/social/digg-32x32.png) no-repeat }
    #sns #share_reddit      { background: url(../../images/social/reddit-32x32.png) no-repeat }
    #sns #share_stumbleupon { background: url(../../images/social/facebook-32x32.png) no-repeat }
    #sns #share_google      { background: url(../../images/social/google+-32x32.png) no-repeat }
    #sns #share_linkedin    { background: url(../../images/social/linkedin-32x32.png) no-repeat }