/*
 --> Analysis css
 --> @author:     Frenk T. Sedmak Nahtigal
 --> @version:    3.0
*/

/* Layout
********************************************************/
.content h1 {
    font-size: 30px;
    margin-bottom: 24px;
}

.content > p {
    padding-left: 20px;
    margin-bottom: 16px;
    color: #9d9fa3;
    font-style: italic;
    line-height: 16px;
}

.sidebar {
    width: 228px;
    margin-bottom: 16px;
    float: right;
}

/* Accordion
********************************************************/
#accordion {
    width: 100%;
}

    #accordion h3 {
        width: 100%;
        margin-bottom: 16px;
        float: left;
        color: #444A56;
        font-family: Times New Roman,Arial,sans-serif;
        font-size: 30px;
        font-style: italic;
    }

    #accordion h1 + p {
        width: 650px;
        line-height: normal;
        padding-left: 20px;
        margin-bottom: 24px;
        float: left;
        font-style: italic;
        color: #838790;
    }

    #accordion > div {
        width: 100%;
        float: left;
    }

    #accordion > div + p,
    #accordion #score + p {
        padding-left: 20px;
        margin-bottom: 32px;
        float: left;
        color: #838790;
        font-size: 11px;
    }

        #accordion > div > p b {
            font-weight: bold;
            font-style: italic;
            color: #444a56;
        }

/* Abacon Content
 * Score Content
********************************************************/
#score span.score, #abacon span.score {
    position: absolute;
    text-align: right;
    background-color: white;
    font-size: 10px;
    margin: 0;
    padding: 0;
    border: 1px solid #dedfe3;
    padding: 2px;
    display: none;
}

#abacon,
#score {
    position: relative;
    float: left;
}

#abacon {
    margin-bottom: 24px;
}

#score {
    margin-bottom: 8px;
}

    #abacon .criteria,
    #score .alternatives {
        width: 155px;
        position: absolute;
        top: 0;
        left: 0;
        table-layout: fixed;
    }

        #abacon .criteria tr,
        #score .alternatives tr {
            width: 100%;
            height: 59px;
        }

            #abacon .criteria tr td,
            #score .alternatives tr td {
                height: 60px;
                max-height: 60px;
                padding: 0 10px 1px 10px;
                vertical-align: middle;
                color: #444a56;
                font-size: 14px;
                font-style: italic;
                text-align: right;
                overflow: hidden;
            }

    #abacon .scale,
    #score .scale {
        position: absolute;
        bottom: 10px;
        right: 14px;
    }

        #abacon .scale tr,
        #score .scale tr {
            width: 100%;
        }

            #abacon .scale tr td,
            #score .scale tr td {
                width: 50px;
                vertical-align: middle;
                color: #444a56;
                opacity: 0.7;
                font-size: 14px;
                font-style: italic;
                text-align: right;
                overflow: hidden;
            }

/* Score Sidebar
********************************************************/
#score-sidebar {
    line-height: 16px;
}

    #score-sidebar h4 {
        text-align: center;
        font-style: italic;
        font-size: 16px;
        padding-bottom: 17px;
        margin-bottom: 5px;
        border-bottom: 1px solid #DEDFE3;
    }

    #score-sidebar ul {
        list-style: none;
        padding: 5px;
        text-align: left;
        font-size: 11px;
    }

        #score-sidebar ul li {
            margin-bottom: 8px;
        }

        #score-sidebar ul li:last-child {
            margin-bottom: 0;
        }
            #score-sidebar ul li dl dt {
                font-size: 12px;
                font-style: italic;
                font-weight: bold;
                margin-bottom: 6px;
            }

/* Abacon Sidebar
********************************************************/
#abacon-sidebar h3 {
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: bold;
    color: #444A56;
    border: none;
}

#abacon-sidebar h4 {
        text-align: center;
        font-style: italic;
        font-size: 16px;
        padding-bottom: 17px;
        margin-bottom: 5px;
        border-bottom: 1px solid #DEDFE3;
}

#abacon-sidebar form {
    width: 100%;
    height: 24px;
    margin-bottom: 16px;
    position: relative;
    float: left;
}

    #abacon-sidebar ul.legend {
        margin-bottom: 16px;
        float: left;
    }

    #abacon-sidebar ul.legend li {
        width: 213px;
        height: 33px;
        line-height: 33px;
        padding-right: 17px;
        margin-bottom: 1px;
        position: relative;
        background: #fff url(../../images/bg/legend_list.png) top right no-repeat;;
    }

        #abacon-sidebar ul.legend li .color {
            width: 10px;
            height: 32px;
            margin-right: 10px;
            display: block;
            float: left;
        }

        #abacon-sidebar ul.legend li .remove {
            width: 16px;
            height: 32px;
            line-height: 32px;
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            font-size: 11px;
            text-align: center;
            font-weight: bold;
            color: #444a56;
            opacity: 0.5;
        }

        #abacon-sidebar ul.legend li .remove:hover { cursor: pointer; opacity: 1 }

/*sidebar select ul - fake*/
.selectBox-dropdown-menu {
    width: 232px;
    position: absolute;
    border: 1px solid #97999d;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background: #fff;
    z-index: 5;
    overflow: hidden;
}

    .selectBox-dropdown-menu li:hover {
        background: #F7F7F8;
    }

    .selectBox-dropdown-menu li:last-child {
    }

        .selectBox-dropdown-menu a {
            padding: 6px 23px;
            margin-bottom: 2px;
            cursor: pointer;
            display: block;
            text-decoration: none;
        }

        .selectBox-dropdown-menu a:last-child {
            margin-bottom: 0;
        }

/*sidebar select*/
#abacon-sidebar .selectBox-dropdown {
    width: 228px;
    height: 24px;
    line-height: 24px;
    display: block;
    position: relative;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border: 1px solid #97999d;
    text-decoration: none;
    cursor: pointer;
}

#abacon-sidebar span.selectBox-dropdown {
    width: 234px;
    cursor: default;
}

    #abacon-sidebar .selectBox-label {
        width: 183px;
        padding-left: 23px;
        display: block;
    }

    #abacon-sidebar .selectBox-arrow,
    #abacon-sidebar .selectBox-arrow-reverse {
        width: 11px;
        height: 9px;
        margin: 8px 0 0 7px;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: url(../../images/sprite_icons.png) 0 -600px no-repeat;
    }

    #abacon-sidebar .selectBox-arrow-reverse { background-position: 0 -550px}

/* Content navigation
********************************************************/
#content-nav {
    margin-right: 250px;
}

/* Sidebar
********************************************************/
.sidebar.help {
    width: 234px; /*254px*/
    padding: 0px 10px 8px 10px;
    line-height: 16px;
    float: right;
}
.sidebar.help h2 {
    font-size: 18px;
    margin-bottom: 16px;
}
    .sidebar.help h2 + p {
        margin-bottom: 24px;
    }

.sidebar.help p {
    margin-bottom: 8px;
    line-height: 16px;
    color: #9d9fa3;
}