/*
 --> Analysis css
 --> @author:     Frenk T. Sedmak Nahtigal
 --> @version:    1.0
*/

/* Layout
********************************************************/
.content {
    width: 666px;
    min-height: 400px;
    float: left;
}

.sidebar {
    width: 234px;
    float: right;
}

/* Accordion
********************************************************/
#accordion {
    width: 100%;
}

    #accordion h3 {
        width: 100%;
        height: 25px;
        line-height: 25px;
        margin-bottom: 16px;
        float: left;
        border: 1px solid #dedfe3;
        border-radius: 6px;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
    }


    #accordion h3.ui-state-default {
        background: #f7f7f8;
    }

        #accordion h3 a {
            width: 879px;
            height: 100%;
            padding: 0 10px;
            line-height: 25px;
            font-size: 16px;
            display: block;
            float: left;
            color: #444a56;
            text-decoration: none;
        }

        #accordion h3 .ui-icon {
            width: 11px;
            height: 9px;
            margin: 8px 0 0 10px;
            display: block;
            float: left;
            background: url(../../images/sprite_icons.png) no-repeat;
        }

        #accordion h3 .ui-icon-triangle-1-e { background-position: 0 -550px }
        #accordion h3 .ui-icon-triangle-1-s { background-position: 0 -600px }

    #accordion > div {
        width: 100%;
        float: left;
    }

/* Sidebar
********************************************************/
