/*
 --> Eksperiment css
 --> @author:     Frenk T. Sedmak Nahtigal
 --> @version:    1.1
*/

/* Content
********************************************************/
#content p {
    font-size: 14px;
    margin-bottom: 16px;
}

#content b {
    font-weight: bold;
}

#content dl {
    line-height: 16px;
    margin-bottom: 24px;
}

    #content dl dt {
        font-size: 14px;
        margin-bottom: 16px;
        font-weight: bold;
    }

    #content dl dd {
        font-size: 14px;
        padding-left: 20px;
    }

#content form, #fbLink{
    display: block;
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
}

    #content form input {
        margin-bottom: 20px;
    }

    #content form p:last-child {
        margin: 0;
        color: red;
    }