/*
 --> Eksperiment css
 --> @author:     Frenk T. Sedmak Nahtigal
 --> @version:    1.1
*/

/* Content
********************************************************/
#content p {
    margin-bottom: 16px;
}

#content b {
    font-weight: bold;
}

#content dl {
    line-height: 16px;
    margin-bottom: 24px;
}

    #content dl dt {
        margin-bottom: 16px;
        font-weight: bold;
    }

    #content dl dd {
        padding-left: 20px;
    }

#content form {

}