/*
 --> Index css
 --> @author:     Frenk T. Sedmak Nahtigal
 --> @version:    1.1
*/

/* Content
********************************************************/

#content {
    width: 450px;
    margin-right: 20px;
}

    #content h2 {
        padding-bottom: 16px;
        margin-bottom: 16px;
        font-size: 20px;
        font-weight: bold;
        border-bottom: 1px solid #DEDFE3;
    }

    #content h2 + p {
        margin-bottom: 16px;
        font-style: italic;
        font-size: 15px;
    }

    #content ol {
        line-height: 16px;
        padding: 0 0 16px 32px;
        margin-bottom: 32px;
        font-size: 14px;
        list-style: decimal outside;
        border-bottom: 1px solid #DEDFE3;
    }

        #content ol li {
            margin-bottom: 8px;
        }

        #content ol li p {
            padding: 2px 4px;
            display: inline;
        }

        #content ol li p.glow {
            background: #DBE3F0;
            border-radius: 4px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
        }

    #content dl {
        line-height: 16px;
    }

        #content dt {
            margin-bottom: 8px;
            font-size: 14px;
            font-weight: bold;
        }

        #content dd {
            margin-bottom: 16px;
        }

/* Sidebar
********************************************************/
#sidebar {
    width: 450px;
}

    #sidebar ul {
        height: 285px;
        margin-bottom: 16px;
        position: relative;

    }

        #sidebar ul li {
            width: 442px;
            padding: 4px;
            float:left;
            position:absolute;
            list-style: none;
            border:1px solid #ccc;
        }

        #sidebar ul li.show {
            z-index:500;
        }

        #sidebar ul li img {
            width: 442px;
            background: #FFF;
        }
