/*
 --> Index css
 --> @author:     Frenk T. Sedmak Nahtigal
 --> @version:    1.1
*/

/* Content
********************************************************/
#content {
    width: 100%;
}

    #content > div {
        width: 450px;
        float: left;
    }

        #content dl {
            width: 100%;
            margin-bottom: 16px;
            float: left;
        }

        #content dl dt {
            padding-left: 10px;
            margin-bottom: 16px;
            font-weight: bold;
        }

        #content dl dd {
            line-height: 16px;
            padding-left: 36px;
        }

        #content hr {
            border: 1px solid #DEDFE3;
            border-width: 1px 0 0 0;
            width: 100%;
            float: left;
            margin-bottom: 20px;
        }

        #content ol {
            width: 418px;
            line-height: 16px;
            padding: 16px 0 0 32px;
            float: left;
            list-style: decimal outside;
        }

            #content ol li {
                margin-bottom: 16px;
            }

            #content ol li p {
                padding: 8px 4px;
                display: inline;
            }

    #content img {
        float: right;
    }