/*
 --> Contact css
 --> @author:     Frenk T. Sedmak Nahtigal
 --> @version:    1.2
*/

#content form {
    width: 646px;
}

#content > form label {
    width: 100%;
    margin-bottom: 8px;
    float: left;
}

#content > form input[type="text"] {
    width: 607px; /*646px*/
    height: 28px;
    line-height: 28px;
    padding: 0 35px 0 8px;
    margin-bottom: 16px;
    background: url(../../images/form/input_big.png) no-repeat;
    border: none;
    float: left;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: none;
}

#content > form input[type="submit"] {
    float: right;
}

#content > form input[type="text"]:focus {
    font-weight: bold;
}

#content > form textarea {
    width: 631px !important;
    height: 68px;
    min-height: 68px !important;
    max-height: 500px !important;
    padding: 8px;
    margin: 0 0 16px 0;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    color: #838790;
    background-color: #f9f9fa;
    border-radius: 4px 4px 4px 4px;
    border: 1px solid #97999d;
}

/* Sidebar
********************************************************/