/*
 --> Dashboard css
 --> @author:     Frenk T. Sedmak Nahtigal
 --> @version:    1.2
*/
#content a {
    text-decoration: underline;
}
#content a:hover {
    text-decoration: none;
    color: #000 !important;
}
#content {
  width: 670px;
}

#content > h1 {
    padding-bottom: 16px;
    border-bottom: 1px solid #dedfe3;
}

/* Decision Feed
********************************************************/
#content > ul {
    margin-bottom: 16px;
    float: left;
}

#content > ul li {
    width: 647px; /*100%*/
    padding: 8px 10px 8px 12px;
    float: left;
    border-bottom: 1px solid #dedfe3;
    border-left: 1px solid #dedfe3;
}

#content > ul li.new {
    padding: 8px 10px;
    background-color: #f4f4f4;
    border-left: 3px solid #717c90;
}

    #content > ul li img {
        width: 50px;
        height: 50px;
        float: left;
        margin-right: 10px;
    }

    #content > ul li div {
        width: 587px;
        float: left;
    }

        #content > ul li h3 {
            width: 100%;
            padding-top: 4px;
            margin-bottom: 8px;
            float: left;
            font-size: 13px;
            color: #9d9fa3;
        }

            #content > ul li h3 a {
                font-weight: bold;
            }

        #content > ul li p {
            float: left;
            margin-bottom: 6px;
        }

            #content > ul li p b {
                font-weight: bold;
            }

        #content > ul li blockquote {
            width: 577px;
            padding-left: 20px;
            float: left;
            font-size: 11px;
            color: #9d9fa3;
        }

.button {
    height: 23px;
    line-height: 23px;
    padding: 0 5px 0 8px;
    margin-right: 2px;
    display: block;
    position: relative;
    float: right;
    color: #717c90;
    background: url(../../images/form/sprite_buttons.png) -300px -400px no-repeat;
    text-decoration: none !important;
}

.button:hover {
    text-decoration: none;
}

    .button span {
        width: 3px;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        right: -3px;
        background: url(../../images/form/sprite_buttons.png) -656px -400px no-repeat;
    }

/* Sidebar
********************************************************/
#sidebar {
    width: 235px;
}

  #sidebar .edit {
      width: 190px;
      padding: 16px 25px 8px 20px;
      margin-bottom: 28px;
      position: relative;
      right: -8px;
      background: url("../../images/bg/sprite_help.png") no-repeat scroll -600px -50px transparent;
  }

      #sidebar .edit div.last {
      background: url("../../images/bg/sprite_help.png") no-repeat scroll -600px 0 transparent;
      bottom: -13px;
      height: 13px;
      left: 0;
      position: absolute;
      width: 235px;
  }

      #sidebar .edit h4 {
          margin-bottom: 16px;
          font-size: 14px;
          font-style: italic;
          text-align: center;
          color: #fff;
      }

      #sidebar .edit ul li,
      #sidebar .edit ul li a {
          height: 20px;
          line-height: 20px;
          display: block;
          font-size: 11px;
          color: #fff;
      }
      #sidebar .edit ul li span {
          color: #717C90;
          cursor: default;
      }
#sidebar .buttonBig {
    width: 215px;
    margin-bottom: 16px;
    float: none;
    position: relative;
    right: -8px;
    text-align: center;
}
