/*
 --> Decision list css
 --> @author:     Frenk T. Sedmak Nahtigal
 --> @version:    1.0
*/

#content {
  width: 670px;
}

    #content > h1 {
        padding-bottom: 16px;
        border-bottom: 1px solid #dedfe3;
    }

    #content > h3 {
        font-size: 15px;
    }

/* Table
********************************************************/
#content table {
    width: 100%;
    margin-bottom: 8px;
    text-align: right;
    vertical-align: middle;
}

    #content table tr {
        height: 31px;
        padding: 0 8px;
        background: url(../../images/bg/dashboard_cell.png) top right no-repeat;
    }

    #content table tr:hover,
    #content table tr:first-child {
        background: #fff;
    }

    #content table th {
        line-height: 16px;
        padding-left: 20px;
        font-style: italic;
        font-weight: bold;
        text-align: left;
        vertical-align: middle;
        border-bottom: 1px solid #596171;
        background: url(../../images/sprite_icons.png) no-repeat;
    }

    #content table th:nth-child(1){ background-position: 2px -443px }
    #content table th:nth-child(2){ background-position: 0 6px }
    #content table th:nth-child(3){ background-position: 0 -42px }

    #content table td {
        padding-left: 20px;
        line-height: 16px;
        vertical-align: middle;
        text-align: left;
        border-bottom: 1px solid #dedfe3;
    }

        #content table td div {
            width: 100%;
            height: 100%;
            position: relative;
        }

        #content table td span {
            width: 11px;
            height: 16px;
            padding-left: 5px;
            position: absolute;
            right: 10px;
            top: -1px;
            display: none;
            font-size: 10px;
            font-weight: bold;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        #content table tr:hover span {
            display: block;
            cursor: pointer;
        }

    #content table th:first-child,
    #content table td:first-child {
        width: 350px;
        text-align: left;
    }

    #content table td:first-child {
        padding-left: 10px;
    }

/* Sidebar
********************************************************/
#sidebar {
    width: 235px;
}

  #sidebar .edit {
      width: 190px;
      padding: 16px 25px 8px 20px;
      margin-bottom: 28px;
      position: relative;
      right: -8px;
      background: url("../../images/bg/sprite_help.png") no-repeat scroll -600px -50px transparent;
  }

      #sidebar .edit div.last {
      background: url("../../images/bg/sprite_help.png") no-repeat scroll -600px 0 transparent;
      bottom: -13px;
      height: 13px;
      left: 0;
      position: absolute;
      width: 235px;
  }

      #sidebar .edit h4 {
          margin-bottom: 16px;
          font-size: 14px;
          font-style: italic;
          text-align: center;
          color: #fff;
      }

      #sidebar .edit ul li,
      #sidebar .edit ul li a {
          height: 20px;
          line-height: 20px;
          display: block;
          font-size: 11px;
          color: #fff;
      }
