/*
 --> Evaluation css
 --> @author:     Frenk T. Sedmak Nahtigal
 --> @version:    1.1
*/

#content {
    position: relative;
}

#content > h2 {
    width: 666px; /*686px*/
    padding: 8px 10px;
    font-size: 20px;
    border-top: 1px solid #dedfe3;
    border-bottom: 1px solid #dedfe3;
}

    #content > h2 b {
        font-weight: bold;
    }

#content > p {
    width: 100%;
    margin-bottom: 16px;
    font-size: 18px;
}

#content form {
    width: 100%;
    margin-bottom: 32px;
    float: left;
    position: relative;
}

    #content form ul {
        width: 100%;
        padding-left: 8px;
    }

        #content form ul li {
            width: 651px; /*671px*/
            height: 51px; /*63px*/
            padding: 6px 10px;
            margin-bottom: 16px;
            position: relative;
            background: url(../../images/form/sprite_slider.png) 0 -300px no-repeat;
        }

        #content form ul li:last-child {
            margin-bottom: 0;
        }

        #content form ul li.saved {
            background-position: 0 -200px;
        }

            #content form ul li h3 {
                font-size: 14px;
                margin-bottom: 12px;
            }

                #content form ul li h3 b {
                    font-weight: bold;
                }

                #content form ul li h3 em {
                    font-style: italic;
                }

            #content form ul li > div {
                width: 100%;
                float: left;
            }

                #content form ul li .worst,
                #content form ul li .best {
                    width: 83px;
                    line-height: 16px;
                    display: block;
                    float: left;
                    font-size: 14px;
                    font-style: italic;
                }

                #content form ul li .best {
                    width: 75px;
                    text-align: right;
                }

/* Prev/Next navigation
********************************************************/
#content > ul {
    margin-bottom: 16px;
    float: left;
    position: relative;
}

    #content > ul li {
        height: 34px;
        line-height: 34px;
        padding: 0 20px;
        float: left;
        font-weight: bold;
        font-size: 18px;
        text-align: center;
    }

    #content > ul li:first-child,
    #content > ul li:last-child {
        width: 101px;
        padding: 0;
    }

        #content > ul li a {
            width: 103px;
            height: 34px;
            display: block;
            text-indent: -9999px;
            background: transparent url(../../images/form/sprite_buttons.png) no-repeat;
        }

        #content > ul li:first-child a        { background-position: -300px -200px }
        #content > ul li:last-child a         { background-position: -300px -100px }
        #content > ul li:first-child a:hover  { background-position: -450px -200px }
        #content > ul li:last-child a:hover   { background-position: -450px -100px }
        #content > ul li:first-child a:active { background-position: -600px -200px }
        #content > ul li:last-child a:active  { background-position: -600px -100px }

/* Slider
********************************************************/
#content .ui-slider {
    width: 492px;
    height: 32px;
    float: left;
    position: relative;
    top: -7px;
    background: url(../../images/form/sprite_slider.png) 0 10px no-repeat;
}

    #content .ui-slider-range {
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: url(../../images/form/sprite_slider.png) 0 -90px no-repeat;
    }

    #content .ui-slider-handle {
        width: 19px;
        height: 19px;
        margin-left: -8px;
        display: block;
        position: absolute;
        top: 7px;
        background: url(../../images/form/sprite_slider.png) -500px 0 no-repeat;
    }

/* Slider
********************************************************/
#sidebar > p {
    line-height: 16px;
    margin-bottom: 16px;
    font-size: 15px;
    font-style: italic;
    text-align: center;
}

    #sidebar ul {
        width: 100%;
        line-height: 32px;
        list-style: inside decimal;
    }

        #sidebar ul li {
            width: 198px;
            height: 32px;
            padding: 0 8px 0 8px;
            margin-bottom: 8px;
            position: relative;
            color: #444a56;
            border: 1px solid #c8cbd0;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            border-radius: 3px;
        }

            #sidebar ul li a {
                width: 176px;
                line-height: 32px;
                display: inline-block;
                text-decoration: none;
            }

            #sidebar ul li span {
                width: 8px;
                height: 15px;
                position: absolute;
                top: 9px;
                left: -12px;
                background: url(../../images/sprite_icons.png) 0 -650px no-repeat;
            }

        #sidebar ul li.current {
            font-weight: bold;
        }

        #sidebar ul li.saved {
            background: url("../../images/form/sprite_slider.png") no-repeat scroll -3px -203px transparent;
        }