/*
 --> Evaluation css
 --> @author:     Frenk T. Sedmak Nahtigal
 --> @version:    1.1
*/

#content > h2 {
    width: 666px; /*686px*/
    padding: 8px 10px;
    font-size: 20px;
    border-top: 1px solid #dedfe3;
    border-bottom: 1px solid #dedfe3;
}

    #content > h2 b {
        font-weight: bold;
    }

#content > p {
    width: 100%;
    margin-bottom: 16px;
    font-size: 18px;
}

    #content ul {
        width: 100%;
        padding-left: 8px;
    }

        #content ul li {
            width: 651px; /*671px*/
            height: 51px; /*63px*/
            padding: 6px 10px;
            margin-bottom: 16px;
            background: url(../../images/form/sprite_slider.png) 0 -300px no-repeat;
        }

        #content ul li:last-child {
            margin-bottom: 0;
        }

        #content ul li.saved {
            background-position: 0 -200px;
        }

            #content ul li h3 {
                font-size: 18px;
                margin-bottom: 12px;
            }

                #content ul li h3 b {
                    font-weight: bold;
                }

            #content ul li > div {
                width: 100%;
                float: left;
            }

                #content ul li .worst,
                #content ul li .best {
                    width: 83px;
                    display: block;
                    float: left;
                    font-size: 16px;
                    font-weight: bold;
                    font-style: italic;
                }

                #content ul li .best {
                    width: 75px;
                    text-align: right;
                }
/* Slider
********************************************************/
#content .ui-slider {
    width: 492px;
    height: 13px;
    margin-top: 3px;
    float: left;
    position: relative;
    background: url(../../images/form/sprite_slider.png) 0 0 no-repeat;
}

    #content .ui-slider-range {
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: url(../../images/form/sprite_slider.png) 0 -100px no-repeat;
    }

    #content .ui-slider-handle {
        width: 19px;
        height: 19px;
        margin-left: -8px;
        display: block;
        position: absolute;
        top: -3px;
        background: url(../../images/form/sprite_slider.png) -500px 0 no-repeat;
    }
