/*
 --> About css
 --> @author:     Frenk T. Sedmak Nahtigal
 --> @version:    1.1
*/

#content {
    width: 100%;
}

    #content > h2 {
        margin-top: 16px;
        font-weight: bold;
    }

    #content > h3 {
        margin: 16px 0;
        padding-left: 10px;
        font-size: 16px;
        font-weight: bold;
    }

    #content > p {
        margin-bottom: 8px;
        padding-left: 10px;
    }

    #content > ul {
        padding-left: 24px;
        list-style: disc outside;
    }

        #content > ul li {
            margin-bottom: 8px;
            line-height: 16px;
        }