/*
 --> Article css
 --> @author:     Frenk T. Sedmak Nahtigal
 --> @version:    3.0
*/

/* Content
********************************************************/
section.content {
    margin-bottom: 24px;
    line-height: 16px;
}

    section.content h1 {
        font-size: 30px;
        text-align: center;
        margin-bottom: 16px;
    }
        section.content header p {
            margin-bottom: 40px;
            text-align: center;
        }

    section.content p {
        margin-bottom: 16px;
    }

section.content article {
    margin-bottom: 40px;
}


/* Breadcrumbs
********************************************************/
#main header.content + nav {
    width: 100%;
    padding: 20px 0;
    margin-bottom: 40px;
    background: #f8f9fb;
    font-size: 14px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #eeeff1;
    box-shadow: 0px -1px 0px #eeeff1;
}

    #main nav div {
        width: 920px;
        padding: 0 20px;
        margin: 0 auto;
        font-style: italic;
        font-family: Times,Helvetica,sans-serif;
    }

/* SNS
********************************************************/
#sns {
    background: url("../../images/bg/index_button.png") no-repeat scroll 0 11px transparent;
    float: left;
    margin-bottom: 40px;
    text-align: center;
    width: 100%;
}

#sns ul {
    width: 232px;
    margin: 0 auto;
}
#sns ul li {
    float: left;
    width: 32px;
    height: 32px;
    margin-right: 8px;
}
#sns ul li:last-child {
    margin-right: 0;
}

#sns li a {
    width: 32px;
    height: 32px;
    margin-top: 4px;
    display: block;
    text-indent: -9999px;
    outline: none;
}

#sns #share_facebook    { background: url(../../images/social/facebook-32x32.png) no-repeat }
#sns #share_twitter     { background: url(../../images/social/twitter-32x32.png) no-repeat }
#sns #share_digg        { background: url(../../images/social/digg-32x32.png) no-repeat }
#sns #share_reddit      { background: url(../../images/social/reddit-32x32.png) no-repeat }
#sns #share_stumbleupon { background: url(../../images/social/facebook-32x32.png) no-repeat }
#sns #share_google      { background: url(../../images/social/google+-32x32.png) no-repeat }
#sns #share_linkedin    { background: url(../../images/social/linkedin-32x32.png) no-repeat }