/*
 --> Toolbox/content navigation css
 --> @author:     Frenk T. Sedmak Nahtigal
 --> @version:    1.1
*/

/* Prev/Next navigation
********************************************************/
#content-nav {
    margin-bottom: 16px;
    float: right;
    position: relative;
}

    #content-nav li {
        height: 35px;
        line-height: 32px;
        padding-right: 7px; /* sliding doors*/
        margin-right: 20px;
        float: left;
        font-size: 18px;
        text-align: center;
        background: url(../../images/form/button_end.png) top right no-repeat;
    }

    #content-nav li:active { background: url(../../images/form/button_end_a.png) top right no-repeat }

    #content-nav li.next {
        margin-right: 0;
    }

        #content-nav li a,
        #content-nav li span {
            width: 103px;
            height: 35px;
            line-height: 32px;
            padding-left: 7px;
            display: block;
            background: transparent url(../../images/form/sprite_buttons.png) -300px -100px no-repeat;
            text-decoration: none;
            color: #fff;
        }

        #content-nav li.disabled span {
            color: #444a56;
            cursor: default;
        }

        #content-nav li a:active  { background-position: -300px -200px }
