/*
 --> Toolbox/content navigation css
 --> @author:     Frenk T. Sedmak Nahtigal
 --> @version:    1.1
*/

/* Prev/Next navigation
********************************************************/
#content-nav {
    margin-bottom: 16px;
    float: right;
    position: relative;
}

    #content-nav li {
        height: 35px;
        line-height: 32px;
        padding-right: 7px; /* sliding doors*/
        margin-right: 20px;
        float: left;
        text-align: center;
    }

    #content-nav li.next {
        margin-right: 0;
    }

        #content-nav li a,
        #content-nav li > span,
        #content-nav li .button,
        .buttonBig {
            width: 103px;
            height: 35px;
            line-height: 32px;
            padding: 0 0 0 7px;
            display: block;
            position: relative;
            background: transparent url(../../images/form/sprite_buttons.png) -300px -100px no-repeat;
            text-decoration: none;
            font-size: 18px;
            color: #fff;
            border: 0;
        }

        #content-nav li a:active,
        #content-nav li .button:active,
        .buttonBig:active { background-position: -300px -200px }

            #content-nav li .doors,
            .buttonBig .doors {
                width: 7px;
                height: 35px;
                display: block;
                position: absolute;
                top: 0;
                right: -7px;
                background: url(../../images/form/button_end.png) top right no-repeat;
            }
    
            #content-nav li a:active .doors,
            .buttonBig:active .doors {
                background: url(../../images/form/button_end_a.png) top right no-repeat;
            }

        #content-nav li .button {
            width: 110px;
            height: 35px;
            padding-bottom: 5px;
            cursor: pointer;
        }

        #content-nav li.disabled > span {
            color: #444a56;
            cursor: default;
        }


