#content {
    padding-right: 340px;
    width: 550px;
    background: url(../../images/error.png) no-repeat right 12px;
    text-align: justify;
}

    #content h2 {
        margin-bottom: 20px;
        position: relative;
        left: -10px;
    }

.error {
    font-style: italic;
}