/*
 --> Toolbox/heading css
 --> @author:     Frenk T. Sedmak Nahtigal
 --> @version:    1.1
*/

/* Heading */

#heading {
    width: 925px;
    padding: 0 25px 0 20px;
    height: 37px;
    position: absolute;
    top: -37px;
    left: 0;
    background: url(../../images/bg/heading.png) no-repeat;
}

    #heading h2 {
        width: 606px;
        line-height: 37px;
        float: left;
        font-size: 17px;
        color: #fff;
    }

    #heading > h3 {
        width: 256px;
        margin-right: 20px;
        font-size: 12px;
        line-height: 37px;
        float: right;
        color: #fff;
        text-align: right;
    }

        #heading h3 a {
            color: #fff;
        }

    #heading > a {
        width: 38px;
        height: 27px;
        line-height: 25px;
        margin-top: 6px;
        display: block;
        float: right;
        text-indent: -9999px;
        background: url(../../images/form/sprite_buttons.png) -450px -300px no-repeat;
    }

    #heading > a:active, #heading > a.active { background-position: -600px -300px }

/* Help */
    #heading #help {
        width: 206px;
        padding: 0 10px 8px 15px;
        position: absolute;
        top: 53px; /*37+16*/
        right: 24px;
        color: #fff;
        background: url(../../images/bg/sprite_help.png) 0 -50px no-repeat;
        z-index: 10;
    }

        #heading #help #helpEnd {
            width: 231px;
            height: 8px;
            position: absolute;
            left: 0;
            bottom: -8px;
            background: url(../../images/bg/sprite_help.png) no-repeat;
        }

            #heading #help h3 {
                height: 34px;
                line-height: 34px;
                margin-bottom: 16px;
                font-size: 18px;
            }

            #heading #help dl {
                line-height: 16px;
            }

                #heading #help dt {
                    margin-bottom: 8px;
                    font-weight: bold;
                    font-style: italic;
                }

                #heading #help li {
                    margin-bottom: 24px;
                }

                #heading #help li:last-child {
                    margin-bottom: 0;
                }