/*
 --> Toolbox/projectMenu css
 --> @author:     Frenk T. Sedmak Nahtigal
 --> @version:    1.1
*/

/* PROJECT */

#projectBg {
    width: 100%;
    float: left;
    position: relative;
    top: -1px; /*hack for header*/
    background: #b7b6b6;
}

    #project {
        width: 100%;
        margin: 10px 0 0 0;
        background-color: #444a56;
        float: left;
        clear: both;
    }

        #project ul li {
            width: 168px;
            margin-left: 20px;
            position: relative;
            float: left;
            border-top: 5px solid #444a56;
        }

        #project ul li a,
        #project ul li > span {
            width: 100%;
            padding: 6px 0;
            font-size: 13px;
            display: block;
            color: #fff;
            text-align: center;
            text-decoration: none;
        }

        #project ul li span.restricted {
            color: #7a818d;
            cursor: help;
        }

        #project ul li span.selected,
        #project ul li a:hover {
            width: 100%;
            cursor: default;
            color: #32353E;
            background-color: #fff;
            border-radius: 7px 7px 0 0;
            -moz-border-radius: 7px 7px 0 0;
            -webkit-border-radius: 7px 7px 0 0;
        }

        #project ul li a:hover {
            cursor: pointer;
        }

        #project ul li .loadingBar {
            width: 208px;
            padding: 0;
            height: 10px;
            display: block;
            background: #FFD700;
            position: absolute;
            left: -20px;
            top: -15px;
            border: none;
        }

            #project ul li .loadingBar.end {
                background: transparent url(../../images/bg/progress_bar.png) top right no-repeat;
            }
