/*
 --> Toolbox/projectMenu css
 --> @author:     Frenk T. Sedmak Nahtigal
 --> @version:    2.0
*/

/* PROJECT */

#projectBg {
    width: 100%;
    height: 62px;
    float: left;
    position: relative;
    background: url(../../images/bg/sprite_projectMenu.png) 0 -50px no-repeat;
}

    #project {
        width: 960px;
        margin: 10px 0 0 0;
        float: left;
        clear: both;
    }

        #project ul {
            width: 958px;
            margin-left: 2px;
            float: left;
        }

            #project ul li {
                width: 215px;
                height: 22px;
                line-height: 24px;
                margin: 5px 0 0 20px;
                position: relative;
                float: left;
            }

            #project ul li a,
            #project ul li > span {
                width: 100%;
                font-size: 13px;
                display: block;
                color: #fff;
                text-align: center;
                text-decoration: none;
            }

            #project ul li a,
            #project ul li .selected,
            #project ul li .restricted {
                margin-top: 10px;
            }

            #project ul li span.selected,
            #project ul li a:hover {
                width: 100%;
                cursor: default;
                color: #fff;
                background: url(../../images/bg/sprite_projectMenu.png) 0 0 no-repeat;
            }

            #project ul li span.selected {
                background-position: 0 0;
            }

            #project ul li a:hover {
                cursor: pointer;
            }

            #project ul li span.restricted {
                color: #717c90;
                cursor: default;
            }

            #project ul li .loadingBar {
                width: 208px;
                padding: 0;
                height: 10px;
                display: block;
                background: #FFD700;
                position: absolute;
                left: -21px;
                top: -15px;
                border: none;
            }

                #project ul li .loadingBar.end {
                    background: transparent url(../../images/bg/sprite_projectMenu.png) bottom right no-repeat;
                }

                #project ul li:last-child .loadingBar.end {
                    background: #FFD700;
                }
