/*
 --> Toolbox/projectMenu css
 --> @author:     Frenk T. Sedmak Nahtigal
 --> @version:    1.1
*/

/* PROJECT */

#projectBg {
    width: 100%;
    float: left;
    position: relative;
    top: -1px; /*hack for header*/
    background: #DBE3F0;
}

    #project {
        width: 100%;
        margin: 8px 0 0 0;
        background-color: #596171;
        float: left;
        clear: both;
    }

        #project ul li {
            width: 192px;
            position: relative;
            float: left;
            border-top: 5px solid #596171;
        }

        #project ul li a,
        #project ul li > span {
            width: 100%;
            font-size: 13px;
            display: block;
            color: #fff;
            text-align: center;
            text-decoration: none;
            padding: 7px 0;
        }

        #project ul li span.restricted {
            color: #7a818d;
            cursor: help;
        }

        #project ul li span.selected,
        #project ul li a:hover {
            width: 172px;
            margin: 0 10px;
            cursor: default;
            color: #32353E;
            background-color: #fff;
            border-radius: 7px 7px 0 0;
            -moz-border-radius: 7px 7px 0 0;
            -webkit-border-radius: 7px 7px 0 0;
        }

        #project ul li a:hover {
            cursor: pointer;
        }

        #project ul li .loadingBar {
            width: 100%;
            padding: 0;
            height: 8px;
            display: block;
            background: #FFD700;
            position: absolute;
            left: 0;
            top: -13px;
            border: none;
        }

            #project ul li .loadingBarEnd {
                width: 0;
                height: 0;
                padding: 0;
                position: absolute;
                left: none;
                right: -12px;
                top: -13px;
                border-top: 4px solid #DBE3F0;
                border-left: 12px solid #FFD700;
                border-bottom: 4px solid #DBE3F0;
            }
