/*
 --> Toolbox/projectMenu css
 --> @author:     Frenk T. Sedmak Nahtigal
 --> @version:    3.0
*/

/* Top navigation */
header.content {
    margin-bottom: 0;
}

#projectBg {
    width: 100%;
    height: 38px;
    margin-bottom: 40px;
}

    #project {
        width: 920px;
        margin: 0 auto;
        padding: 0 20px;
    }

        #project ul {
            width: 100%;
        }

            #project ul li {
                width: 215px;
                height: 22px;
                line-height: 24px;
                position: relative;
                float: left;
            }

            #project ul li a,
            #project ul li > span {
                width: 100%;
                font-size: 13px;
                display: block;
                color: #fff;
                text-align: center;
                text-decoration: none;
            }

            #project ul li a,
            #project ul li .selected,
            #project ul li .restricted {
                margin-top: 10px;
            }

            #project ul li span.selected,
            #project ul li a:hover {
                width: 100%;
                cursor: default;
                color: #e49300;
            }

            #project ul li span.selected {
                background-position: 0 0;
            }

            #project ul li a:hover {
                cursor: pointer;
            }

            #project ul li span.restricted {
                color: #717c90;
                cursor: default;
            }

            #project ul li .loadingBar {
                width: 208px;
                padding: 0;
                height: 10px;
                display: block;
                background: #FFD700;
                position: absolute;
                left: -21px;
                top: -15px;
                border: none;
            }

                #project ul li .loadingBar.end {
                    background: transparent url(../../images/bg/sprite_projectMenu.png) bottom right no-repeat;
                }

                #project ul li:last-child .loadingBar.end {
                    background: #FFD700;
                }



/* Bottom Navigation */
#content-nav {
    float:right;
}
#content-nav li {
    float: left;
}
#content-nav li:nth-child(2) {
    margin-left: 20px;
}

#content-nav a,
#content-nav .disabled span {
    width: 80px;
    text-align: center;
    padding: 8px 30px;
    background: #3d4a61; /* Old browsers */
    color: #fff !important;
    font-size: 16px;
    background: -moz-linear-gradient(top, #3d4a61 14%, #1c2434 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(14%,#3d4a61), color-stop(100%,#1c2434)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #3d4a61 14%,#1c2434 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #3d4a61 14%,#1c2434 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #3d4a61 14%,#1c2434 100%); /* IE10+ */
    background: linear-gradient(to bottom, #3d4a61 14%,#1c2434 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d4a61', endColorstr='#1c2434',GradientType=0 ); /* IE6-9 */
    box-shadow: 2px 3px 1px #ecedee;
    -moz-box-shadow: 2px 3px 1px #ecedee;
    -webkit-box-shadow:  2px 3px 1px #ecedee;
    float: right;
}
#content-nav .disabled span {
    opacity: 0.5;
}