/*
 --> Public css
 --> @author:     Frenk T. Sedmak Nahtigal
 --> @version:    1.1
*/

/* Content
********************************************************/
#content {
    width: 670px;
}

    #content h2 {
        width: 100%;
        margin-bottom: 16px;
        float: left;
        font-size: 18px;
        font-style: italic;
    }

/* About
********************************************************/
#about {
    width: 100%;
    margin-bottom: 32px;
    float: left;
    position: relative;
}

    #about > img {
        width: 50px;
        height: 50px;
        padding: 4px;
        margin: 0 16px 0 0;
        float: left;
        border: 1px solid #c7cacf;
    }


    #about > dl {
        width: 568px; /*594px;*/
        padding: 0 9px 24px 16px;
        float: left;
        position: relative;
        border-left: 1px solid #c7cacf;
    }

        #about > dl dt {
            position: absolute;
            right: 9px;
            bottom: 0;
            font-weight: bold;
            font-style: italic;
        }

            #about .timestamp {
                margin-top: 2px;
                display: block;
                font-size: 10px;
                text-align: center;
                color: #9D9FA3;
                font-weight: normal;
            }

        #about > dl dd {
            width: 100%;
            line-height: 16px;
            color: #838790;
        }

/* Abacon Content
 * Score Content
********************************************************/
#abacon,
#score {
    margin-bottom: 16px;
    position: relative;
    float: left;
}

    #abacon .criteria,
    #score .alternatives {
        width: 155px;
        position: absolute;
        top: 0;
        left: 0;
        table-layout: fixed;
    }

        #abacon .criteria tr,
        #score .alternatives tr {
            width: 100%;
            height: 59px;
        }

            #abacon .criteria tr td,
            #score .alternatives tr td {
                height: 60px;
                max-height: 60px;
                padding: 0 10px 1px 10px;
                vertical-align: middle;
                color: #444a56;
                font-size: 14px;
                font-style: italic;
                text-align: right;
                overflow: hidden;
            }

    #abacon .scale,
    #score .scale {
        position: absolute;
        bottom: 10px;
        right: 14px;
    }

        #abacon .scale tr,
        #score .scale tr {
            width: 100%;
        }

            #abacon .scale tr td,
            #score .scale tr td {
                width: 50px;
                vertical-align: middle;
                color: #444a56;
                opacity: 0.7;
                font-size: 14px;
                font-style: italic;
                text-align: right;
                overflow: hidden;
            }

/* Comments
********************************************************/
.comments {
    width: 100%;
    float: right;
}

    .comments li {
        width: 100%;
        margin-bottom: 24px;
        float: left;
    }

    .comments li.new {
        padding-bottom: 28px;
        border-bottom: 1px solid #dedfe3;
    }

        .comments li.new > div {
            background-position: -1201px -50px;
        }

        .comments li.new form,
        .comments li.new form fieldset {
            width: 100%;
            float: left;
        }

        .comments li.new textarea {
            width: 507px !important; /*541px*/
            max-height: 700px !important;
            height: 68px;
            min-height: 68px !important;
            padding: 8px 8px 8px 16px;
            margin: 0 0 8px 0;
            color: #838790;
            border: 1px solid #c7cacf;
            border-radius: 4px;
            -moz-border-radius: 4px;
            -webkit-border-radius: 4px;
        }

        .comments li.new input,
        .comments li.new .button {
            float: right;
            position: relative;
            right: 4px;
        }

        .comments li.new .last {
            background-position: -1201px 0;
        }

        .comments li > img {
            width: 50px;
            height: 50px;
            padding: 4px;
            float: left;
            border: 1px solid #c7cacf;
        }

        .comments li > div {
            width: 534px; /*599*/
            padding: 30px 20px 8px 45px;
            position: relative;
            float: right;
            color: #838790;
            background: url(../../images/sprite_comments.png) -500px -50px no-repeat;
        }

            .comments li .last {
                width: 100%;
                height: 12px;
                position: absolute;
                left: 0;
                bottom: -12px;
                background: url(../../images/sprite_comments.png) -500px 0 no-repeat;
            }

            .comments.small li .last {
                height: 10px;
                bottom: -10px;
                background-position: 0 0;
            }

            .comments li .author {
                line-height: 12px;
                position: absolute;
                top: 8px;
                left: 40px;
                font-size: 11px;
                font-style: italic;
                font-weight: bold;
                color: #444a56;
            }

            .comments li .timestamp {
                line-height: 12px;
                position: absolute;
                top: 8px;
                right: 20px;
                font-size: 10px;
                color: #9d9fa3;
            }

#comments_more,
#detailed_comparison {
    margin-right: 9px;
    float: right;
}

#detailed_comparison {
    margin-bottom: 16px;
}

.button {
    height: 23px;
    line-height: 23px;
    padding: 0 5px 0 8px;
    display: block;
    position: relative;
    color: #717c90;
    background: url(../../images/form/sprite_buttons.png) -300px -400px no-repeat;
    text-decoration: none;
}

    .button span {
        width: 3px;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        right: -3px;
        background: url(../../images/form/sprite_buttons.png) -656px -400px no-repeat;
    }


/* Sidebar
********************************************************/
#sidebar {
    width: 235px;
    margin-top: 34px;
}

#sidebar .help .do {
    width: 100%;
    position: relative;
    top: -4px;
}

#sidebar .help .do li {
    width: 100%;
    height: 16px;
    line-height: 16px;
    position: relative;
    border-bottom: 1px dotted #bdbfc4;
}

    #sidebar .help .do span {
        padding-right: 2px;
        position: absolute;
        left: 0;
        bottom: -4px;
        display: block;
        font-style: italic;
        background: #f7f7f8;
    }

    #sidebar .help .do em {
        font-style: italic;
        position: absolute;
        right: 0;
        bottom: -4px;
        background: #f7f7f8;
    }

#sidebar .help .dm {
    padding-left: 20px;
    list-style: disc outside;
}

    #sidebar .help .dm li {
        margin-bottom: 8px;
    }

    #sidebar .help .dm li:last-child {
        margin-bottom: 0;
    }

/*sns*/
#sidebar #sns {
    height: 16px;
}

    #sidebar #sns li {
        width: 16px;
        height: 16px;
        margin-right: 17px;
        float: left;
    }

    #sidebar #sns li:last-child {
        margin-right: 0;
    }

        #sidebar #sns li a {
            width: 16px;
            height: 16px;
            display: block;
            text-indent: -9999px;
            background: url(../../images/sprite_icons.png) no-repeat;
        }

        #sidebar #sns #share_facebook    { background-position: 0 -700px }
        #sidebar #sns #share_twitter     { background-position: 0 -750px }
        #sidebar #sns #share_digg        { background-position: 0 -800px }
        #sidebar #sns #share_reddit      { background-position: 0 -850px }
        #sidebar #sns #share_stumbleupon { background-position: 0 -900px }