/*
 --> Public css
 --> @author:     Frenk T. Sedmak Nahtigal
 --> @version:    1.1
*/

/* Content
********************************************************/
#content {
    width: 670px;
}

    #content h2 {
        width: 100%;
        margin-bottom: 16px;
        float: left;
        font-size: 18px;
        font-style: italic;
    }

/* About
********************************************************/
#about {
    width: 100%;
    margin-bottom: 16px;
    float: left;
    position: relative;
}

    #about > img {
        width: 50px;
        height: 50px;
        padding: 4px;
        margin: 0 16px 0 0;
        float: left;
        border: 1px solid #c7cacf;
    }

    #about > dl {
        width: 568px; /*594px;*/
        /*min-height: 27px; /*60px*/
        padding: 0 9px 8px 16px;
        margin-bottom: 32px;
        float: left;
        position: relative;
        border-left: 1px solid #dedfe3;
        border-bottom: 1px solid #dedfe3;
    }

        #about > dl dt {
            position: absolute;
            right: 9px;
            bottom: -30px;
            font-weight: bold;
            font-style: italic;
            text-align: right;
        }

            #about .timestamp {
                margin-top: 2px;
                display: block;
                font-size: 10px;
                text-align: center;
                color: #9D9FA3;
                font-weight: normal;
            }

        #about > dl dd {
            width: 100%;
            line-height: 16px;
            color: #838790;
        }

/* Abacon Content
 * Score Content
********************************************************/
#abacon,
#score {
    margin-bottom: 16px;
    position: relative;
    float: left;
}

    #abacon .criteria,
    #score .alternatives {
        width: 155px;
        position: absolute;
        top: 0;
        left: 0;
        table-layout: fixed;
    }

        #abacon .criteria tr,
        #score .alternatives tr {
            width: 100%;
            height: 59px;
        }

            #abacon .criteria tr td,
            #score .alternatives tr td {
                height: 60px;
                max-height: 60px;
                padding: 0 10px 1px 10px;
                vertical-align: middle;
                color: #444a56;
                font-size: 14px;
                font-style: italic;
                text-align: right;
                overflow: hidden;
            }

    #abacon .scale,
    #score .scale {
        position: absolute;
        bottom: 10px;
        right: 14px;
    }

        #abacon .scale tr,
        #score .scale tr {
            width: 100%;
        }

            #abacon .scale tr td,
            #score .scale tr td {
                width: 50px;
                vertical-align: middle;
                color: #444a56;
                opacity: 0.7;
                font-size: 14px;
                font-style: italic;
                text-align: right;
                overflow: hidden;
            }

/* Comments
********************************************************/
.comments {
    width: 100%;
    float: right;
}

    .comments li {
        width: 100%;
        margin-bottom: 20px;
        float: left;
    }

    .comments li.new {
        padding-bottom: 24px;
        border-bottom: 1px solid #dedfe3;
    }

        .comments li.new > img {
            border-color: #717c90;
        }

        .comments li.new > div {
            background-position: 0 -50px;
        }

        .comments li.new form,
        .comments li.new form fieldset {
            width: 100%;
            float: left;
            position: relative;
        }

        .comments li.new .textarea {
            width: 100%;
            margin-bottom: 4px;
            position: relative;
            float: left;
        }

        .comments li.new textarea {
            width: 527px !important; /*543px*/
            max-height: 700px !important;
            height: 48px;
            min-height: 48px !important;
            padding: 4px 8px 0 8px;
            margin: 0;
            color: #838790;
            background: #fff url(../../images/bg/sprite_form.png) 0 -50px no-repeat;
            border: none;
        }

            .comments li.new .textarea .last {
                width: 543px;
                height: 4px;
                position: absolute;
                bottom: -4px;
                left: 0;
                background: url(../../images/bg/sprite_form.png) 0 0 no-repeat;
            }

        .comments li.new input,
        .comments li.new .button {
            float: right;
            position: relative;
            top: 6px;
            right: 3px;
        }

        .comments li > img {
            width: 50px;
            height: 50px;
            padding: 4px;
            float: left;
            border: 1px solid #c7cacf;
        }

        .comments li > div {
            width: 540px; /*599*/
            padding: 30px 20px 8px 39px;
            position: relative;
            float: right;
            color: #838790;
            background: url(../../images/sprite_comments.png) -700px -50px no-repeat;
        }

            .comments li > div > .last {
                width: 100%;
                height: 12px;
                position: absolute;
                left: 0;
                bottom: -12px;
                background: url(../../images/sprite_comments.png) -700px 0 no-repeat;
            }

            .comments li.new > div > .last {
                background-position: 0 0;
            }

            .comments li .author {
                line-height: 12px;
                position: absolute;
                top: 8px;
                left: 40px;
                font-size: 11px;
                font-style: italic;
                font-weight: bold;
                color: #444a56;
            }

            .comments li.new .author {
                color: #fff;
                cursor: pointer;
                top: -22px;
                left: 0;
            }

            .comments li .timestamp {
                line-height: 12px;
                position: absolute;
                top: 8px;
                right: 20px;
                font-size: 10px;
                color: #9d9fa3;
            }

#comments_more,
#detailed_comparison {
    margin-right: 9px;
    float: right;
}

#detailed_comparison {
    margin-bottom: 16px;
}

.button {
    height: 23px;
    line-height: 23px;
    padding: 0 5px 0 8px;
    display: block;
    position: relative;
    color: #717c90;
    background: url(../../images/form/sprite_buttons.png) -300px -400px no-repeat;
    text-decoration: none;
}

.button:hover {
    text-decoration: none;
}

    .button span {
        width: 3px;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        right: -3px;
        background: url(../../images/form/sprite_buttons.png) -656px -400px no-repeat;
    }

/*ERROR*/
#content form div.error {
    height: 39px;
    line-height: 24px;
    padding: 0 0 0 21px;
    position: absolute;
    left: -11px;
    color: #790e0e;
    background: url(../../images/form/sprite_error.png) 0 -39px no-repeat;
    z-index: 10;
}

    #content form div.error p {
        height: 39px;
        padding-right: 26px;
        line-height: 24px;
        background: url(../../images/form/sprite_error.png) top right no-repeat;
    }

/*BLOCKER*/
.block.rounded {
    padding: 2px 0;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}


/* Sidebar
********************************************************/
#sidebar {
    width: 235px;
}

#sidebar .help p {
    padding-left: 10px;
}

#sidebar .help ul {
    padding-left: 10px;
    position: relative;
    top: -4px;
}

#sidebar .help ul li {
    height: 16px;
    line-height: 16px;
    position: relative;
    border-bottom: 1px dotted #bdbfc4;
}

    #sidebar .help ul li span {
        padding-right: 2px;
        position: absolute;
        left: 0;
        bottom: -4px;
        display: block;
        font-style: italic;
        background: #fff;
    }

    #sidebar .help ul li em {
        font-style: italic;
        position: absolute;
        right: 0;
        bottom: -4px;
        background: #fff;
    }

/*sns*/
#sidebar #sns {
    height: 16px;
    top: 0;
}

    #sidebar #sns li {
        width: 16px;
        height: 16px;
        margin-right: 17px;
        float: left;
        border: none;
    }

    #sidebar #sns li:last-child {
        margin-right: 0;
    }

        #sidebar #sns li a {
            width: 16px;
            height: 16px;
            display: block;
            text-indent: -9999px;
            background: url(../../images/sprite_icons.png) no-repeat;
        }

        #sidebar #sns #share_facebook    { background-position: 0 -700px }
        #sidebar #sns #share_twitter     { background-position: 0 -750px }
        #sidebar #sns #share_digg        { background-position: 0 -800px }
        #sidebar #sns #share_reddit      { background-position: 0 -850px }
        #sidebar #sns #share_stumbleupon { background-position: 0 -900px }


#sidebar .edit {
    width: 190px;
    padding: 16px 25px 8px 20px;
    margin-bottom: 28px;
    position: relative;
    right: -8px;
    background: url("../../images/bg/sprite_help.png") no-repeat scroll -600px -50px transparent;
}

    #sidebar .edit div.last {
    background: url("../../images/bg/sprite_help.png") no-repeat scroll -600px 0 transparent;
    bottom: -13px;
    height: 13px;
    left: 0;
    position: absolute;
    width: 235px;
}

    #sidebar .edit h4 {
        margin-bottom: 16px;
        font-size: 14px;
        font-style: italic;
        text-align: center;
        color: #fff;
    }

    #sidebar .edit ul li,
    #sidebar .edit ul li a {
        height: 20px;
        line-height: 20px;
        display: block;
        font-size: 11px;
        color: #fff;
    }
