/*
 --> Criteria css
 --> @author:     Frenk T. Sedmak Nahtigal
 --> @version:    1.2
*/

#content > form {
    width: 100%;
    margin-bottom: 32px;
    float: left;
    position: relative;
}

    #content > form ol {
        padding-left: 20px;
        list-style: decimal outside;
        float: left;
        position: relative;
    }

        #content > form ol li {
            width: 666px;
            height: 28px;
            margin-bottom: 16px;
            float: left;
            position: relative;
        }

        #content > form ol li:last-child {
            margin-bottom: 0;
        }

    #content > form > div {
        padding: 0 0 24px 20px;
        margin-bottom: 24px;
        position: relative;
        float: left;
        background: url(../../images/sprite_icons.png) 1px -343px no-repeat;
        border-bottom: 1px solid #dedfe3;
    }

    #content > form input[type="text"] {
        width: 623px; /*666px*/
        height: 28px;
        padding: 0 35px 0 8px;
        line-height: 28px;
        background: url(../../images/form/input_big.png) no-repeat;
        border: none;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        border-radius: 6px;
        border: none;
    }

    #content > form input[type="text"]:focus {
        font-weight: bold;
    }

        #content > form span:hover,
        #content > form span:active { cursor: pointer }

        #content > form span.add,
        #content > form span.remove {
            width: 27px;
            height: 26px;
            display: block;
            position: absolute;
            background: url(../../images/form/sprite_buttons.png) no-repeat;
            text-indent: -9999px;
        }

        #content > form span.add,
        #content > form span.remove {
            top: 1px;
            right: 1px;
        }

        #content > form span.add {
            right: 1px;
        }

        #content > form span.remove        { background-position: 0 0 }
        #content > form span.add           { background-position: 0 -100px }
        #content > form span.remove:hover  { background-position: -100px 0 }
        #content > form span.add:hover     { background-position: -100px -100px }
        #content > form span.remove:active { background-position: -200px 0 }
        #content > form span.add:active    { background-position: -200px -100px }

        #content form .loading {
            width: 24px;
            height: 24px;
            display: block;
            position: absolute;
            top: 2px;
            right: 50px;
            background: url(../../images/ajax-loader-circular.gif) no-repeat;
        }

        #content form li .loading { right: 30px }

    #content > form div.error {
        height: 39px;
        line-height: 24px;
        padding: 0 0 0 21px;
        position: absolute;
        top: 8px;
        left: 7px;
        color: #790e0e;
        background: url(../../images/form/sprite_error.png) 0 -39px no-repeat;
        z-index: 10;
    }

    #content > form li div.error {
        left: -12px;
    }

        #content > form div.error p {
            height: 39px;
            padding-right: 26px;
            line-height: 24px;
            background: url(../../images/form/sprite_error.png) top right no-repeat;
        }
/* Sidebar
********************************************************/
#sidebar {
    width: 192px;
    padding: 0 8px 8px 8px;
    line-height: 16px;
}
    #sidebar h3 {
        text-align: center;
        font-style: italic;
        font-size: 16px;
        padding-bottom: 17px;
        margin-bottom: 5px;
        border-bottom: 1px solid #DEDFE3;
    }

    #sidebar ul {
        list-style: none;
        padding: 5px;
        text-align: left;
        font-size: 11px;
    }

        #sidebar ul li {
            margin-bottom: 8px;
        }

        #sidebar ul li:last-child {
            margin-bottom: 0;
        }
            #sidebar ul li dl dt {
                font-size: 12px;
                font-style: italic;
                font-weight: bold;
                margin-bottom: 6px;
            }