/*
 --> Profile css
 --> @author:     Frenk T. Sedmak Nahtigal
 --> @version:    3.0
*/

/* Content
********************************************************/
section.content {
    margin-bottom: 20px;
}

    section.content h1 {
         font-size: 30px;
         margin-bottom: 60px;
         text-align: center;
    }
        section.content h1 b {
            font-weight: bold;
        }

/* Button: begin your journey
********************************************************/
section.content > h1 + div {
    margin-bottom: 60px;
    text-align: center;
    background: url(../../images/bg/index_button.png) 0 0 no-repeat;
}
section.content > h1 + div a {
    padding: 8px 30px;
    background: #3d4a61; /* Old browsers */
    color: #fff !important;
    font-size: 16px;
    background: -moz-linear-gradient(top, #3d4a61 14%, #1c2434 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(14%,#3d4a61), color-stop(100%,#1c2434)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #3d4a61 14%,#1c2434 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #3d4a61 14%,#1c2434 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #3d4a61 14%,#1c2434 100%); /* IE10+ */
    background: linear-gradient(to bottom, #3d4a61 14%,#1c2434 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d4a61', endColorstr='#1c2434',GradientType=0 ); /* IE6-9 */
    box-shadow: 2px 3px 1px #ecedee;
    -moz-box-shadow: 2px 3px 1px #ecedee;
    -webkit-box-shadow:  2px 3px 1px #ecedee;
}

/* Accounts
********************************************************/
section.accounts {
    width: 100%;
    padding: 20px 0;
    margin-bottom: 40px;
    background: #f8f9fb;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #eeeff1;
    box-shadow: 0px -1px 0px #eeeff1;
}
    section.accounts > div {
        width: 920px;
        padding: 0 20px;
        margin: 0 auto;
    }
        section.accounts > div h1 {
            font-size: 24px;
            margin-bottom: 16px;
        }
        section.accounts > div #delete {
            padding: 8px 30px;
            float: right;
            color: #fff !important;
            font-size: 16px;
            box-shadow: 2px 3px 1px #ecedee;
            -moz-box-shadow: 2px 3px 1px #ecedee;
            -webkit-box-shadow:  2px 3px 1px #ecedee;
            background: #f5f6f8; /* Old browsers */
            background: -moz-linear-gradient(top, #f5f6f8 0%, #d2d3d5 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f6f8), color-stop(100%,#d2d3d5)); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top, #f5f6f8 0%,#d2d3d5 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top, #f5f6f8 0%,#d2d3d5 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top, #f5f6f8 0%,#d2d3d5 100%); /* IE10+ */
            background: linear-gradient(to bottom, #f5f6f8 0%,#d2d3d5 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f8', endColorstr='#d2d3d5',GradientType=0 ); /* IE6-9 */
        }
        section.accounts > div .services {
            float: left;
        }

/* Decisions
********************************************************/
section.decisions {
    width: 920px;
    padding: 0 20px;
    margin: 0 auto;
}
    section.decisions > h1 {
        font-size: 24px;
        margin-bottom: 16px;
    }

    section.decisions table {
        width: 100%;
        margin-bottom: 24px;
    }
        section.decisions table thead {
            font-weight: bold;
            font-style: italic;
            border-top: 1px solid #dedfe3;
            color: #444a56;
        }
            section.decisions table thead tr {
                border-left: none;
                border-right: none;
            }
                section.decisions table thead th {
                    border-right: none;
                }


            section.decisions table tr {
                height: 32px;
                border: 1px solid #dedfe3;
                background: #ffffff; /* Old browsers */
                background: -moz-linear-gradient(left, #ffffff 0%, #f4f4f4 100%); /* FF3.6+ */
                background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(100%,#f4f4f4)); /* Chrome,Safari4+ */
                background: -webkit-linear-gradient(left, #ffffff 0%,#f4f4f4 100%); /* Chrome10+,Safari5.1+ */
                background: -o-linear-gradient(left, #ffffff 0%,#f4f4f4 100%); /* Opera 11.10+ */
                background: -ms-linear-gradient(left, #ffffff 0%,#f4f4f4 100%); /* IE10+ */
                background: linear-gradient(to right, #ffffff 0%,#f4f4f4 100%); /* W3C */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f4f4f4',GradientType=1 ); /* IE6-9 */
            }
                section.decisions table tr:hover {
                    background: #fff;
                }

            section.decisions table thead th {
                background: #fff;
            }
                section.decisions table td,
                section.decisions table th {
                    padding: 0 20px;
                    vertical-align: middle;
                    border-right: 1px solid #dedfe3;
                    box-shadow: 0 1px 0 #fff;
                }
                section.decisions table td:nth-child(1){
                    width: 666px;

                }

                section.decisions table td:nth-child(2),
                section.decisions table td:nth-child(3),
                section.decisions table td:nth-child(4) {
                    text-align: center;
                }

                section.decisions table .delete,
                section.decisions table .edit{
                    text-indent: -9999px;
                    display: block;
                    width: 32px;
                    height: 32px;
                    background: url(../../images/bg/icons.png) no-repeat;
                }
                    section.decisions table .edit {
                        background-position: -90px 9px;
                    }
                    section.decisions table .delete {
                        background-position: -90px -193px;
                    }
