/*
 --> Sharing css
 --> @author:     Frenk T. Sedmak Nahtigal
 --> @version:    1.1
*/

#content {
    width: 670px;
}
/* Content
********************************************************/
#content h3 {
    width: 100%;
    margin-bottom: 16px;
    float: left;
    font-size: 18px;
    font-style: italic;
}

#content form {
    width: 100%;
    float: left;
}

    #content form > div {
        width: 630px;
        padding: 8px 26px 0 20px;
        margin-bottom: 28px; /*16+12*/
        float: left;
        position: relative;
        background: url(../../images/bg/sharing_bubble.png) 0 -50px no-repeat;
    }


        #content form dl {
            width: 100%;
            height: 40px;
            float: left;
            border-bottom: 1px solid #dedfe3;
        }

        #content form dl.l {
            border: none;
        }

            #content form div dt {
                max-width: 250px;
                line-height: 40px;
                float: left;
            }

            #content form div dd {
                max-width: 400px;
                float: right;
                position: relative;
            }

                #content form div .selectBox-dropdown-menu {
                    /*min-width: 120px;*/
                }

        #content form div label {
            width: 100%;
            float: left;
            font-size: 11px;
            font-style: italic;
        }

        #content form div > label {
            margin-bottom: 8px;
        }

        #content form div textarea {
            width: 612px !important;
            min-height: 68px !important;
            max-height: 500px !important;
            height: 68px;
            padding: 8px 8px 8px 8px;
            margin: 0;
            border-radius: 4px 4px 4px 4px;
            color: #838790;
            border: 1px solid #C7CACF;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 12px;
        }


        #content form > div .last {
            width: 676px;
            height: 12px;
            position: absolute;
            left: 0;
            bottom: -12px;
            background: url(../../images/bg/sharing_bubble.png) 0 0 no-repeat;

        }

/* SIDEBAR */
#sidebar.help {
    margin-top: 34px;
}

/* DROPDOWN */
dd .selectBox-dropdown {
    margin-top: 8px;
    float: right;
}

form > div .selectBox-dropdown {
    float: left;
}