/*
 --> Sharing css
 --> @author:     Frenk T. Sedmak Nahtigal
 --> @version:    1.1
*/

/* Content
********************************************************/
#privacy {
    width: 100%;
    float: left;
    margin-bottom: 24px;
    border-top: 1px solid #dedfe3;
}

    #privacy li {
        width: 100%;
        float: left;
        border-bottom: 1px solid #dedfe3;
    }

        #privacy li dt {
            width: 184px;
            height: 56px;
            line-height: 56px;
            font-weight: bold;
            float: left;
        }

        #privacy li dd {
            width: 486px;
            height: 56px;
            line-height: 56px;
            float: right;
            border-bottom: 1px solid #dedfe3;
        }

        #privacy li dd:last-child {
            border-bottom: none;
        }
