/*
 --> About css
 --> @author:     Frenk T. Sedmak Nahtigal
 --> @version:    1.1
*/

#content {
    width: 100%;
}

    #content > h2 {
        margin-top: 16px;
    }

    #content > p {
        margin-bottom: 8px;
    }

#content dl {
    width: 100%;
}

    #content dl dt {
        width: 100%;
        line-height: 50px;
        height: 50px;
        font-weight: bold;
        font-size: 18px;
    }

        #content dl dt img {
            margin-right: 20px;
            display: block;
            float: left;
        }

        #content dl dt a {
            display: block;
            float: left;
        }

    #content dl dd {
        line-height: 16px;
        margin-bottom: 16px;
        padding-left: 70px;
    }

#like {
    margin-bottom: 16px;
}